<div class="pt-4 pb-3 px-20">

  <header class="w-full flex justify-between items-center pt-2">
    <h1 class="text-xl font-medium underline">
      {{me?.username}} - {{me?.street}} {{me?.house_number}} - {{me?.postal_code}} {{me?.city}}
    </h1>
    <img [src]="imgPath | saveDom" alt="{{me?.username}} logo" class="rounded-full" width="150px">
  </header>

  <main class="pt-2 w-11/12">
    <div class="flex justify-between items-center mb-2 text-sm">
      <div>
        <p>{{car_buy_data?.attributes?.client?.data?.attributes?.title}}</p>
        <p>{{car_buy_data?.attributes?.client?.data?.attributes?.last_name}} {{car_buy_data?.attributes?.client?.data?.attributes?.first_name}}</p>
        <p>{{car_buy_data?.attributes?.client?.data?.attributes?.street}}</p>
        <p>{{car_buy_data?.attributes?.client?.data?.attributes?.postal_code}} {{car_buy_data?.attributes?.client?.data?.attributes?.city}}</p>
        <p>{{car_buy_data?.attributes?.client?.data?.attributes?.country}}</p>
        <p>
          <p>{{car_buy_data?.attributes?.client?.data?.attributes?.tax_number}}</p>
      </div>
    </div>
    <div class="flex border-2 border-black justify-between p-3 mt-1 mb-2">
      <span class="font-bold pl-10">RECHNUNG/INVOICE Nr. {{car_buy_data?.attributes?.invoice_number}}</span>
      <span>{{car_buy_data?.attributes?.invoice_date | date:'dd/MM/yyyy'}}</span>
    </div>
    <p class="mb-5 text-center px-8 text-sm">
      Der Käufer kauft in Übereinstimmung mit den bereits vereinbarten Lieferbedingungen (AGB`s) das nachstehende,
      gebrauchte
      Fahrzeug, wie ausgiebig besichtigt, unter Auschluss jeglicher Gewährleistung im Hinblick auf sichtbare und
      unsichtbare Mängel.
      Desweiteren können Nachlackierungen nicht ausgeschlossen werden!
    </p>
    <p class="font-bold text-center px-8 mb-4 text-sm">
      Der Unterzeichnende bestätigt, dass sich hierbei um ein Geschäft unter Voll-Kaufleuten handelt und
      somit nicht unter das EU-Gewährleistungsgesetz fällt!
    </p>
    <table class="mt-6 mb-10 text-sm" style="text-align: left">
      <tr>
        <th class="pr-4">Fahrzeugtyp:</th>
        <td>{{car_info?.attributes?.name}}</td>
      </tr>
      <tr>
        <th class="pr-4">FahrgesteII-Nr:</th>
        <td>{{car_info?.attributes?.car_identifier}}</td>
      </tr>
      <tr>
        <th class="pr-4">Erstzulassung:</th>
        <td>{{car_info?.attributes?.first_register_date}}</td>
      </tr>
      <tr>
        <th class="pr-4">abgelesener KM-Stand:</th>
        <td>{{car_info?.attributes?.kilometres}} km</td>
      </tr>

      <tr>
        <th class="pr-4">Zahlungsart:</th>
        <td>{{car_buy_data?.attributes?.zahlunsart}} </td>
      </tr>
      <tr>
        <th class="pr-4">Lieferung:</th>
        <td>{{car_buy_data?.attributes?.lieferung | date:'d-MM-yyyy'}} </td>
      </tr>
      <tr  *ngIf="car_buy_data?.attributes?.bemerkunhen" class="">
        <th class="pr-4">Bemerkungen:</th>
        <td ><p class="break-normal w-80  ">{{car_buy_data?.attributes?.bemerkunhen}}</p></td>
      </tr>


    </table>
    <div class="flex justify-start items-start mt-3 mb-10 text-sm">
      <div class="flex justify-start mr-40">
        <p class="font-bold mr-16">Kaufpreis:</p>
        <p class="font-bold border-b-2 border-black px-4">{{car_buy_data?.attributes?.net_sell || 0 |currency}}</p>
      </div>
      <div class="w-1/2">
        <p class="font-bold">NETTO - EU EXPORT</p>
        <p class="text-sm pr-4">Es handelt sich um eine, innergemeinschaftliche
          Lieferung gem. §4 Nr. 1b i.V.m. §6a Abs. 1
          (tax free intra-community delivery)
        </p>
      </div>
    </div>
    <p class="mb-6 mt-26 text-sm">
      <span class="font-bold">Lieferdatum:</span> {{car_buy_data?.attributes?.kv_date}}
    </p>
    <div class="flex justify-between my-3 text-xs">
      <div class="w-1/3">
        <p>{{me?.street}} {{me?.house_number}}, {{me?.postal_code}}</p>
        <p>Tel: {{me?.phone}}</p>
        <p>{{me?.email}}</p>
        <p>
          <a class="text-green-600" href="https://{{me?.website}}" target="_blank">{{me?.website}}</a>
        </p>
      </div>
      <div class="w-1/3">
        <p>Steuer-Nr.: {{me?.steuer_nr}}</p>
        <p>Ust-IdNr.: {{me?.ust_Idnr}}</p>
        <p>HRB: {{me?.hrb_walsrode}}</p>
        <p>Geschäftsführer: {{me?.geschaftsfuhrer}}</p>
      </div>
      <div class="w-1/3">
        <p>IBAN: {{me?.iban}}</p>
        <p>BIC/SWIFT-Code: {{me?.bic_swift_code}}</p>
        <p>IBAN: {{me?.syke_iban}}</p>
        <p>BIC/Swift-code: {{me?.bic_swift_code_2}}</p>
      </div>
    </div>
  </main>

</div>
