<form (ngSubmit)="submit()" [formGroup]="customerForm"  class="font-montserrat">
  <h1 mat-dialog-title class="font-montserrat">Neuer Kunde</h1>
  <mat-divider></mat-divider>
  <div mat-dialog-content class="font-montserrat">
    <div class="grid grid-cols-2 gap-x-3 gap-y-0 mt-2 max-h-96 overflow-y-auto px-2 flex justify-center">


     
 
      <!-- <div class=" col-span-2 md:col-span-1 my-3 flex md:justify-center  ">
        <input  class="toggle mr-2  md:self-center" id="company" name="company"  formControlName="company" type="checkbox">
        <label class="cursor-pointer   font-montserrat text-gray-500    " for="company">Firmenkunde</label>
      </div>

      <div class=" col-span-2 md:col-span-1 my-3 flex md:justify-center ">
        <input  class="toggle mr-2  md:self-center" id="private" name="private"  formControlName="private" type="checkbox">
        <label class="cursor-pointer   font-montserrat text-gray-500    " for="company">Privatperson</label>
      </div> -->

    
      <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label class="font-montserrat">Anrede</mat-label>
          <mat-select  formControlName="title" class="font-montserrat">
            <mat-option value="Herr" class="font-montserrat">Herr</mat-option>
            <mat-option value="Frau" class="font-montserrat">Frau</mat-option>
            <mat-option value="Divers" class="font-montserrat">Divers</mat-option>
            <mat-option value="Firma" class="font-montserrat">Firma</mat-option>
          </mat-select>
          <mat-error *ngIf="hasRequiredError('title')">
            <b>Anrede</b> wird benötigt
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label >Vorname</mat-label>
          <input formControlName="first_name" matInput [required]="required_privado">
          <!-- <mat-error *ngIf="hasRequiredError('first_name')">
            <b>Vorname</b> wird benötigt
          </mat-error> -->

          <mat-error *ngIf="hasRequiredError('first_name')">
            <b>Vorname</b> wird benötigt
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Nachname</mat-label>
          <input  formControlName="last_name" matInput [required]="required_privado">
          <mat-error *ngIf="hasRequiredError('last_name')">
            <b>Nachname</b> wird benötigt
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Geburtsdatum</mat-label>
          <input [matDatepicker]="pickerDate" formControlName="birth_date" matInput >
          <mat-datepicker-toggle [for]="pickerDate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #pickerDate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-span-2"  >
        <mat-form-field appearance="outline" class="w-full font-montserrat" >
          <mat-label>Firmenname dd</mat-label>
          <input formControlName="company_name" matInput [required]="required_empresa">
          <mat-error *ngIf="hasRequiredError('company_name')">
            <b>Firmenname</b> wird benötigt
          </mat-error>

        </mat-form-field>
      </div>

      <div class="col-span-2">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Straße</mat-label>
          <input formControlName="street" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Hausnummer</mat-label>
          <input formControlName="house_number" matInput>
        </mat-form-field>
      </div>
      <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Postleitzahl</mat-label>
          <input formControlName="postal_code" matInput type="number">
        </mat-form-field>
      </div>

      <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Stadt</mat-label>
          <input formControlName="city" matInput>
        </mat-form-field>
      </div>
      <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Land</mat-label>
          <input formControlName="country" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-2">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Adresszusatz</mat-label>
          <input formControlName="aditional_address" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Telefonnummer</mat-label>
          <input  formControlName="phone" matInput>
          
        </mat-form-field>
      </div>

      <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>E-Mail</mat-label>
          <input formControlName="email" matInput type="email">
          <mat-error *ngIf="hasEmailError('email')">
            <b>E-Mail</b> ist ungültig
          </mat-error>
        </mat-form-field>
      </div>

    
 
    
      <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Website</mat-label>
          <input formControlName="website" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Fax</mat-label>
          <input formControlName="fax" matInput>
        </mat-form-field>
      </div>

      <div class="col-span-2">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Steuernummer</mat-label>
          <!-- <input [required]="isRequired()" formControlName="tax_number" matInput> -->
          <input formControlName="tax_number" matInput> 
          <!-- <mat-error *ngIf="hasRequiredError('tax_number')">
            <b>Steuernummer</b> wird benötigt
          </mat-error> -->
        </mat-form-field>
      </div>
      <!-- <div class="col-span-2 md:col-span-1">
        <mat-form-field appearance="outline" class="w-full font-montserrat">
          <mat-label>Straße</mat-label>
          <input formControlName="street" matInput>
        </mat-form-field>
      </div> -->
      

    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="flex justify-end gap-x-3" mat-dialog-actions>
    <button (click)="close()" class="btn btn-error btn-sm" type="button">ABBRECHEN</button>
    <button class="btn bg-[#8591AA] border-[#8591AA] btn-sm" type="submit">SPEICHERN</button>
  </div>
</form>
