<div class="card bg-white">
  <div class="card-body">
    <form (ngSubmit)="submit()" [formGroup]="carBuyForm">
      <div class="divider font-montserrat">Allgemeine Daten</div>
      <div class="grid grid-cols-2 gap-x-8 gap-y-2 w-full xl:w-9/12 my-3">


        <!-- 
          **************************************************************************************************************** 
          **   Fahrzeugname   --- nombre del auto                             
          **************************************************************************************************************** 
        -->
        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <!-- <mat-label>Fahrzeugname</mat-label>
          <mat-select formControlName="car" required>
            <mat-option *ngFor="let option of carsOptions" [value]="option.id">
              {{option.attributes.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hasRequiredError('car')">
            <b>Fahrzeugname</b> wird benötigt
          </mat-error> -->

          <mat-label class="font-montserrat">Fahrzeugname</mat-label>
          <input formControlName="car_name" matInput readonly="true" class="font-montserrat">
          <!-- <mat-error *ngIf="hasRequiredError('name')">
            <b>Fahrzeugname</b> ist erforderlich
          </mat-error> -->

        </mat-form-field>
        <!-- 
          **************************************************************************************************************** 
          **   Nachname                             
          **************************************************************************************************************** 
        -->
        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <mat-label class="font-montserrat">Nachname</mat-label>
          <input #autoComplete [matAutocomplete]="auto" formControlName="client" matInput required type="text" class="font-montserrat">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
            <mat-option *ngFor="let option of filteredOptions" [value]="option.id" class="font-montserrat">
              
              <!--
                mostrar lista de compannia o de usuarios 
              <ng-container *ngIf="option.attributes?.company_name">
                {{option.attributes?.company_name}}
              </ng-container>


              <ng-container *ngIf="!option.attributes?.company_name">
                {{option.attributes?.first_name}} {{option.attributes?.last_name}}
              </ng-container>    
            -->

            {{option.attributes?.first_name}} {{option.attributes?.last_name}}
              
            </mat-option>
          </mat-autocomplete>
          <button (click)="addCustomer($event)" class="tooltip tooltip-bottom" data-tip="Neuen Kunden hinzufügen"
            mat-icon-button matSuffix [disabled]="boton_salvar_disabled">
            <mat-icon>add</mat-icon>
          </button>
          <mat-error *ngIf="hasRequiredError('client')">
            <b>Kunde</b> wird benötigt
          </mat-error>
        </mat-form-field>

        <!-- 
          **************************************************************************************************************** 
          **   Abholung  (Antes Sammlung)                             
          **************************************************************************************************************** 
        -->
        <mat-form-field appearance="outline" class="col-span-2 ">
          <mat-label class="font-montserrat">Abholung</mat-label>
          <input formControlName="collection" matInput required class="font-montserrat">
          <mat-error *ngIf="hasRequiredError('collection')">
            <b>Abholung</b> wird benötigt
          </mat-error>
        </mat-form-field>




        <!-- 
          **************************************************************************************************************** 
          **   Ankaufsdatum                            
          **************************************************************************************************************** 
        -->
        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <mat-label class="font-montserrat">Ankaufsdatum</mat-label>
          <input [matDatepicker]="pickerBuyDate" formControlName="buy_date" matInput  required class="font-montserrat">
          <mat-error *ngIf="hasRequiredError('buy_date')">
            <b>Ankaufsdatum</b> wird benötigt
          </mat-error>
          <mat-datepicker-toggle [for]="pickerBuyDate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #pickerBuyDate></mat-datepicker>
        </mat-form-field>

        
        <!-- 
          **************************************************************************************************************** 
          **   Abholdatum  --- Pickup Date                            
          **************************************************************************************************************** 
        -->
        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <mat-label class="font-montserrat">Abholdatum</mat-label>
          <input [matDatepicker]="pickupdate" formControlName="pickupdate" matInput  required class="font-montserrat">
          <mat-error *ngIf="hasRequiredError('pickupdate')">
            <b>Abholdatum</b> wird benötigt
          </mat-error>
          <mat-datepicker-toggle [for]="pickupdate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #pickupdate></mat-datepicker>
        </mat-form-field>


        

        <!-- 
          **************************************************************************************************************** 
          **   Zahlungsart  (Antes Zahlen )                            
          **************************************************************************************************************** 
        -->
        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <mat-label class="font-montserrat">Zahlungsart</mat-label>
          <input formControlName="payment" matInput min="0" type="text" class="font-montserrat">
          <mat-error *ngIf="hasRequiredError('payment')">
            <b>Zahlungsart</b> wird benötigt
          </mat-error>
        </mat-form-field>


        <!-- 
          **************************************************************************************************************** 
          **   Radio buttons  a25, MwSt                            
          **************************************************************************************************************** 
        -->
        <div class="col-span-2 lg:col-span-1 flex items-center justify-start gap-x-3 pl-5">
          <div class="flex gap-x-3 pb-3">
            <input class="toggle" formControlName="a25" id="a25"  type="checkbox">
            <!-- <input #a25 (change)="iva.checked = !a25.checked" checked="checked" class="toggle" formControlName="a25"
              id="a25" type="checkbox"> -->
            <label class="cursor-pointer font-montserrat text-gray-500" for="a25">§25a</label>
          </div>
          <div class="flex gap-x-3 pb-3">
            <input class="toggle" formControlName="iva" id="iva" type="checkbox">
            <!-- <input #iva (change)="a25.checked = !iva.checked" checked="checked" class="toggle" formControlName="iva"
              id="iva" type="checkbox"> -->
            <label class="cursor-pointer font-montserrat text-gray-500" for="iva">MwSt.</label>
          </div>
        </div>



      </div>

      <!-- 
          **************************************************************************************************************** 
          **   Zona inferior     Ankaufpreis                       
          **************************************************************************************************************** 
      -->



      <div class="divider font-bold font-montserrat">Ankaufpreis</div>


      <!-- 
          **************************************************************************************************************** 
          **   Netto in €                     
          **************************************************************************************************************** 
      -->
      <!-- <div class="grid grid-cols-2 gap-x-8 gap-y-2 w-full xl:w-9/12 my-3"> -->
      <div class="flex flex-col xl:flex-row justify-start gap-x-8 w-full xl:w-9/12 my-3">

        <!-- 
          **************************************************************************************************************** 
          **   Netto in €                     
          **************************************************************************************************************** 
      -->

        <!-- <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1"> -->
          <mat-form-field appearance="outline">
          <mat-label class="font-montserrat">Netto in €</mat-label>
          <input formControlName="net_buy" matInput min="0"  type="currency"  lang="de-DE" name="net_buy" (focus)="onFocusEvent($event)"
          (focusout)="focusOutFunction($event)" class="font-montserrat" >
          <mat-error *ngIf="hasRequiredError('net_buy')">
            <b>Netto</b> wird benötigt
          </mat-error>
        </mat-form-field>


        <!-- 
          **************************************************************************************************************** 
          **   Brutto in €                     
          **************************************************************************************************************** 
      -->
       <!-- ng-model='vGross_buy' -->
        <!-- <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1"> -->
          <mat-form-field appearance="outline">
          <mat-label class="font-montserrat">Brutto in €</mat-label>
          <input formControlName="gross_buy" matInput min="0" type="currency"  lang="de-DE" name="gross_buy"
         
            (focus)="onFocusEvent($event)" (focusout)="focusOutFunction($event)" class="font-montserrat">
          <mat-error *ngIf="hasRequiredError('gross_buy')" >
            <b>Brutto</b> wird benötigt
          </mat-error>
        </mat-form-field>


        <!-- 
          **************************************************************************************************************** 
          **   Mehrwertsteuer in €                     
          **************************************************************************************************************** 
      -->
        <!-- <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1"> -->
          <mat-form-field appearance="outline">
          <mat-label class="font-montserrat">Mehrwertsteuer in €</mat-label>
          <input formControlName="iva_buy" matInput min="0" type="currency"  lang="de-DE" name="iva_buy" (focus)="onFocusEvent($event)" (focusout)="focusOutFunction($event)" class="font-montserrat" >

          <!-- <input formControlName="iva_buy" matInput min="0" type="currency" name="iva_buy" (focus)="onFocusEvent($event)" (focusout)="focusOutFunction($event)" class="font-montserrat" > -->
          <mat-error *ngIf="hasRequiredError('iva_buy')">
            <b>Mehrwertsteuer</b> wird benötigt
          </mat-error>
        </mat-form-field>



      </div>



      <!-- 
          **************************************************************************************************************** 
          **  Sonstige Kosten                   
          **************************************************************************************************************** 
      -->
      <div class="divider font-bold font-montserrat">Bemerkungen</div>
      <div class="grid grid-cols-1 gap-x-8 gap-y-2 w-full xl:w-9/12 my-3">
<!-- cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" -->
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label class="font-montserrat">Bemerkungen</mat-label>
          <textarea matInput placeholder="Bemerkungen" formControlName="bemerkunhen" rows="4"          
          [maxlength]="total_lineas_comentario1 * total_characters_por_linea"
          (keypress)="keypress($event)" (keydown)="keydown($event)" class="font-montserrat"></textarea>           
        </mat-form-field>

        <!-- <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <mat-label>Zinssatz für ein Jahr Finanzierung</mat-label>
          <input formControlName="year_interest_rate" matInput min="0" type="number">
          <mat-error *ngIf="hasRequiredError('year_interest_rate')">
            <b>Zinssatz für ein Jahr Finanzierung</b> wird benötigt
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <mat-label>Summe in €</mat-label>
          <input formControlName="total" matInput min="0" type="number">
          <mat-error *ngIf="hasRequiredError('total')">
            <b>Summe in €</b> wird benötigt
          </mat-error>
        </mat-form-field> -->
      </div>
      <mat-divider></mat-divider>
      <div class="flex w-full justify-center md:justify-end items-center mt-6 space-x-3">
        <button (click)="generatePdf()" class="btn bg-[#8591AA] border-[#8591AA] " type="button">
          <mat-icon>picture_as_pdf</mat-icon>
          <span class="font-montserrat pl-3">Kaufvertrag</span>
        </button>

        <button class="btn bg-[#8591AA] border-[#8591AA] w-40 " type="submit"  [disabled]="boton_salvar_disabled">
          <span class="tracking-wide font-montserrat">Speichern</span>
        </button>

      </div>
    </form>
  </div>
</div>