<div class="card bg-white">
    <div class="card-body">

        <div class="divider font-bold font-montserrat">Sicherheit und Login</div>

      
        
        <div class="flex justify-start items-center space-x-3 mt-4">
          <button class="btn bg-[#8591AA] border-[#8591AA] w-40" (click)="changePasswordScreen()"  >
            <span class="tracking-wide font-montserrat">Passwort ändern</span>
          </button>
        </div>


        
        <div class="divider font-bold font-montserrat">Benutzerdaten</div>

        <form (ngSubmit)="register()" [formGroup]="registerForm" class="flex flex-col justify-center items-center">
          <div class="grid grid-cols-2 gap-x-5 gap-y-0 w-full md:w-[90%] ">
        


            
            <!---------------------------------------------------------------------
            -------------------- Imagen Logo  ------------------------------
            ----------------------------------------------------------------------->

            <div class="col-span-2 flex flex-col justify-center items-center mb-3">
              <input (change)="previewLogo($event)" autofocus class="hidden" id="logo" type="file">
            
        
        
              <div class="avatar mt-2 ">
                <div class="w-24 h-24 mask mask-squircle ring ring-gray">
                  <img *ngIf="showLogo else defaultImg" [alt]="logoImg?.name" [src]="logoImgSrc | saveDom">
                  <ng-template #defaultImg>
                    <img alt="user-profile-picture" src="assets/user-male-circle-reg.png" />
                  </ng-template>
                </div>
              </div>
              <div class="flex flex-col max-w-xs mt-2">
                <label class="btn btn-sm btn-ghost border-2 border-gray-400 animate-none text-gray-500" for="logo">
                  FIRMENLOGO HOCHLADEN
                </label>
              </div>
        
              <span *ngIf="ImageError" class="label-text-alt text-red-400 pl-2 mt-1">
                Bitte Firmenlogo Hochladen
              </span> 
        
            </div>

    
            <!---------------------------------------------------------------------
            -------------------- Vorname: first name ------------------------------
            ----------------------------------------------------------------------->

            <!-- <div class="relative mt-3 col-span-2 sm:col-span-1 ">
              <input matInput 
                class="{{hasError2('first_name') ? 'input-error' : 'input-primary'}} rounded-full  input pl-12 w-full"
                formControlName="first_name" placeholder="Vorname"  type="text">
              <div class="absolute left-0 top-3 flex items-center">
                <img alt="name_img" class="ml-4" src="assets/user--v1.png" />
              </div>
              <span *ngIf="hasRequiredError2('first_name')" class="label-text-alt text-red-400 pl-2">
                <b>Vorname</b> wird benötigt
              </span>
            </div>   -->

            <div class="relative mt-3 col-span-2 sm:col-span-1 ">
            <mat-form-field appearance="outline" class="w-full ">
              <mat-label class="font-montserrat pl-3 ml-4">Vorname</mat-label>
              <input formControlName="first_name" matInput required class="  w-full "  type="text">
              <div class="absolute left-0 top-3 flex items-center">
                <img alt="name_img" class="" src="assets/user--v1.png" />
              </div>
              <mat-error *ngIf="hasRequiredError2('first_name')">
                <b>Vorname</b> wird benötigt
              </mat-error>
            </mat-form-field>
            </div>

           
    




            <!---------------------------------------------------------------------
            --------------------Nachname: Last Name ------------------------------
            ----------------------------------------------------------------------->
          
            <!-- <div class="relative mt-3 col-span-2 sm:col-span-1 ">
              <input matInput
                class="{{hasError2('last_name') ? 'input-error' : 'input-primary'}}  rounded-full  input pl-12 w-full"
                formControlName="last_name" placeholder="Nachname"  type="text">
              <div class="absolute left-0 top-3 flex items-center">
                <img alt="last_name_img" class="ml-4" src="assets/user--v1.png" />
              </div>
              <span *ngIf="hasRequiredError2('last_name')" class="label-text-alt text-red-400 pl-2">
                <b>Nachname</b> wird benötigt
              </span>
            </div>  -->

            <div class="relative mt-3 col-span-2 sm:col-span-1 ">
              <mat-form-field appearance="outline" class="w-full ">
                <mat-label class="font-montserrat pl-3 ml-4">Nachname</mat-label>
                <input formControlName="last_name" matInput required class="  w-full "  type="text">
                <div class="absolute left-0 top-3 flex items-center">
                  <img alt="name_img" class="" src="assets/user--v1.png" />
                </div>
                <mat-error *ngIf="hasRequiredError2('last_name')">
                  <b>Nachname</b> wird benötigt
                </mat-error>
              </mat-form-field>
              </div>
  

   
            <!---------------------------------------------------------------------
            --------------------Company name ------------------------------
            ----------------------------------------------------------------------->
      <!-- <div class="relative mt-3 col-span-2 " >
        <input matInput autocomplete="company_name" class="{{hasError2('company_name') ? 'input-error' : 'input-primary'}}
        input pl-12 w-full rounded-full " formControlName="company_name" placeholder="Firmenname" 
          type="text" required>
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="company_name_img" class="ml-4" src="assets/company.png" />
        </div>
        <span *ngIf="hasRequiredError2('company_name')" class="label-text-alt text-red-400 pl-2">
          <b>Firma</b> wird benötigt
        </span>
      </div> -->

      <div class="relative mt-1 col-span-2  ">
        <mat-form-field appearance="outline" class="w-full ">
          <mat-label class="font-montserrat pl-3 ml-4">Nachname</mat-label>
          <input formControlName="company_name" matInput required class="  w-full p-10"  type="text">
          <div class="absolute left-0 top-3 flex items-center">
            <img alt="name_img" class="" src="assets/user--v1.png" />
          </div>
          <mat-error *ngIf="hasRequiredError2('company_name')">
            <b>Nachname</b> wird benötigt
          </mat-error>
        </mat-form-field>
        </div>


      
    
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('username') ? 'input-error' : 'input-primary'}} input  pl-12 w-full rounded-full "
          formControlName="username" placeholder="Nutzername" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img class="ml-4"  src="assets/user.png">
        </div>
        <span *ngIf="hasRequiredError2('username')" class="label-text-alt text-red-400 pl-2">
          <b>Nutzername</b> wird benötigt
        </span>
      </div>
  
  
  
      <div class="relative mt-3 col-span-2 sm:col-span-1 ">
        <input
          class="{{hasError2('email') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="email" placeholder="E-Mail" required type="email">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="email_img" class="ml-4" src="assets/email.png" />
        </div>
        <span *ngIf="hasRequiredError2('email')" class="label-text-alt text-red-400 pl-2">
          <b>E-Mail</b> wird benötigt
        </span>
        <span *ngIf="hasEmailError2('email')" class="label-text-alt text-red-400 pl-2">
          <b>E-Mail</b> ist ungültig
        </span>
      </div>
  
  

      
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('employees_number') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full"
          formControlName="employees_number" placeholder="Mitarbeiterzahl" required type="number">
        <div class="absolute left-0 top-3 flex items-center">
          <img class="ml-4"
            src="assets/person.png">
        </div>
        <span *ngIf="hasRequiredError2('employees_number')" class="label-text-alt text-red-400 pl-2">
          <b>Mitarbeiterzahl</b> wird benötigt
        </span>
      </div>
  
  
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('street') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full"
          formControlName="street" placeholder="Straße" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="crossroad" class="ml-4" src="assets/crossroad.png" />
        </div>
        <span *ngIf="hasRequiredError2('street')" class="label-text-alt text-red-400 pl-2">
          <b>Straße</b> wird benötigt
        </span>
      </div>
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('house_number') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="house_number" placeholder="Hausnummer" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="house" class="ml-4"
            src="assets/external-house-ui-dreamstale-lineal-dreamstale.png" />
        </div>
        <span *ngIf="hasRequiredError2('house_number')" class="label-text-alt text-red-400 pl-2">
          <b>Hausnummer</b> wird benötigt
        </span>
      </div>
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('city') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="city" placeholder="Stadt" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="city-buildings_img" class="ml-4"
            src="assets/city-buildings.png" />
        </div>
        <span *ngIf="hasRequiredError2('city')" class="label-text-alt text-red-400 pl-2">
          <b>Stadt</b> wird benötigt
        </span>
      </div>
  

      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('postal_code') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="postal_code" placeholder="Postleitzahl" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="postcode_img" class="ml-4" src="assets/postcode.png" />
        </div>
        <span *ngIf="hasRequiredError2('postal_code')" class="label-text-alt text-red-400 pl-2">
          <b>Postleitzahl</b> wird benötigt
        </span>
      </div>
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('phone') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="phone" placeholder="Telefon" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="apple-phone" class="ml-4" src="assets/apple-phone.png" />
        </div>
        <span *ngIf="hasRequiredError2('phone')" class="label-text-alt text-red-400 pl-2">
          <b>Telefon</b> wird benötigt
        </span>
      </div>
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('website') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="website" placeholder="Website" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="domain" class="ml-4" src="assets/domain.png" />
        </div>
        <span *ngIf="hasRequiredError2('website')" class="label-text-alt text-red-400 pl-2">
          <b>Website</b> wird benötigt
        </span>
      </div>
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('steuer_nr') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="steuer_nr" placeholder="Steuer Nr." required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="tax" class="ml-4" src="assets/tax.png" />
        </div>
        <span *ngIf="hasRequiredError2('steuer_nr')" class="label-text-alt text-red-400 pl-2">
          <b>Steuer Nr.</b> wird benötigt
        </span>
      </div>
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('ust_Idnr') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="ust_Idnr" placeholder="USt. ID" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="identification-documents" class="ml-4"
            src="assets/identification-documents.png" />
        </div>
        <span *ngIf="hasRequiredError2('ust_Idnr')" class="label-text-alt text-red-400 pl-2">
          <b>USt. ID</b> wird benötigt
        </span>
      </div>
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('geschaftsfuhrer') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="geschaftsfuhrer" placeholder="Geschäftsführer" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="manager" class="ml-4" src="assets/manager.png" />
        </div>
        <span *ngIf="hasRequiredError2('geschaftsfuhrer')" class="label-text-alt text-red-400 pl-2">
          <b>Ansprechpartner</b> wird benötigt
        </span>
      </div>
  
  
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('iban') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="iban" placeholder="IBAN" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="cancel-4-digits" class="ml-4" src="assets/cancel-4-digits.png" />
        </div>
        <span *ngIf="hasRequiredError2('iban')" class="label-text-alt text-red-400 pl-2">
          <b>IBAN</b> wird benötigt
        </span>
      </div>
  
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('bank_name') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="bank_name" placeholder="Name der Bank" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="cancel-4-digits" class="ml-4" src="assets/cancel-4-digits.png" />
        </div>
        <span *ngIf="hasRequiredError2('bank_name')" class="label-text-alt text-red-400 pl-2">
          <b>Name der Bank</b> wird benötigt
        </span>
      </div>
  
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('bic_swift_code') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="bic_swift_code" placeholder="BIC/SWIFT-Code" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="swift-payment-system" class="ml-4"
            src="assets/swift-payment-system.png" />
        </div>
        <span *ngIf="hasRequiredError2('bic_swift_code')" class="label-text-alt text-red-400 pl-2">
          <b>BIC/SWIFT-Code</b> wird benötigt
        </span>
      </div>
  
       
      
  
  
  
      <div class="relative mt-3 col-span-2 sm:col-span-1">
        <input
          class="{{hasError2('hrb_walsrode') ? 'input-error' : 'input-primary'}} input pl-12 w-full rounded-full "
          formControlName="hrb_walsrode" placeholder="HRB Nummer" required type="text">
        <div class="absolute left-0 top-3 flex items-center">
          <img alt="hashtag-2" class="ml-4" src="assets/hashtag-2.png" />
        </div>
        <span *ngIf="hasRequiredError2('hrb_walsrode')" class="label-text-alt text-red-400 pl-2">
          <b>HRB Nummer</b> wird benötigt
        </span>
      </div>
    </div>
            
            

            <div class="col-span-2 flex justify-center items-center mt-6">
              <button class="btn w-40 bg-[#8591AA] border-[#8591AA] px-4  rounded-full" type="submit">
                <mat-spinner *ngIf="isLoading" class="mr-2 " diameter="18"></mat-spinner>
                <span class="tracking-wide">ANMELDEN</span>
              </button>
            </div>
            <!-- GRiD -->
       



        </form>


    </div>



<!-- 
<form (ngSubmit)="register()" [formGroup]="registerForm" class="flex flex-col justify-center items-center">
  
    <div class="grid grid-cols-2 gap-x-2 w-full md:w-[80%]">
  

  
      
    
     
  
  
      
  
    <div class="col-span-2 flex justify-center items-center mt-6">
      <button class="btn w-40 bg-[#3A4157] px-4  rounded-full" type="submit">
        <mat-spinner *ngIf="isLoading" class="mr-2 " diameter="18"></mat-spinner>
        <span class="tracking-wide">ANMELDEN</span>
      </button>
    </div>
  </form> -->