<div [class]="getClass()">
  <div class="flex w-full justify-between items-center">
    <div class="flex items-center">
      <ng-container *ngIf="isString(); else listErrors">
        <i class="pi pi-check text-green-500 text-2xl md:text-4xl mr-3"></i>
        <p class="text-sm text-base-content font-sans font-semibold">{{data.data}}</p>
      </ng-container>
    </div>
    <button (click)="closeSnack()" class="btn btn-sm btn-ghost btn-square">
      <mat-icon class="text-gray-700">close</mat-icon>
    </button>
  </div>
</div>

<ng-template #listErrors>
  <ul class="list-disc pl-2 text-black">
    <li *ngFor="let error of getArray()">
      <p class="text-sm text-base-content font-sans font-semibold">{{error}}</p>
    </li>
  </ul>
</ng-template>
