<table mat-table [dataSource]="EmpData">
  <ng-container matColumnDef="Id">
    <th mat-header-cell *matHeaderCellDef> Emp Id </th>
    <td mat-cell *matCellDef="let emp"> {{emp.Id}} </td>
  </ng-container>

  <ng-container matColumnDef="FirstName">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let emp"> {{emp.FirstName}} </td>
  </ng-container>

  <ng-container matColumnDef="LastName">
    <th mat-header-cell *matHeaderCellDef> LastName </th>
    <td mat-cell *matCellDef="let emp"> {{emp.LastName}} </td>
  </ng-container>

  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let emp"> {{emp.Email}} </td>
  </ng-container>

  <ng-container matColumnDef="Gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let emp"> {{emp.Gender}} </td>
  </ng-container>

  <ng-container matColumnDef="JobTitle">
    <th mat-header-cell *matHeaderCellDef> JobTitle </th>
    <td mat-cell *matCellDef="let emp"> {{emp.JobTitle}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let emprow; columns: displayedColumns;"></tr>

  </table>
  
