<div
  class="bg-gray-5 w-full grid md:grid-cols-3 items-center justify-items-center lg:px-14 md:px-6 md:py-14 py-10"
>
  <div class="w-full mr-auto ml-10 md:mb-0 mb-4" id="text_secondbanner">
    <h2
      class="font-extrabold lg:text-5xl text-black md:text-4xl text-3xl after:flex lg:mb-4 mb-3"
    >
      Autohandel <br />
      ganz <br />
      einfach.
    </h2>
    <p class="lg:text-base md:pr-6 pr-14">
      ...von Einkauf bis Verkauf, von Fahrzeugverwaltung bis Kaufvertrag.
    </p>
  </div>
  <div class="md:block flex md:w-auto w-full justify-start md:px-0 px-6">
    <img src="assets/landing/main2.webp" alt="" class="lg:w-[20rem] w-52 md:-translate-y-[50%]" id="phone2"[ngClass]="{'phone_mock': animation === true, 'phone_up': animation_up === true}"/>
  </div>
  <div
  id="left_second"
    class="text-lg text-gray-20 flex flex-col lg:space-y-5 space-y-3 md:pr-10 md:pl-0 pr-6 pl-6 md:mt-0 mt-6"
  >
    <div class="flex items-center space-x-3">
      <img
        src="assets/landing/line1.png"
        alt=""
        class="w-[4px] md:h-[75px] h-[45px]"
      />
      <h3 class="text-[#636464] font-bold md:text-lg text-sm">
        Verwalten Sie ab jetzt jederzeit und überall
      </h3>
    </div>
    <div class="flex items-center space-x-3">
      <img src="assets/landing/line2.png" alt="" class="w-[4px] h-[173px]" />
      <div class="flex flex-col lg:space-y-3 space-y-2">
        <h3 class="text-[#636464] font-bold md:text-lg text-sm">
          Dealersoft Premium
        </h3>
        <p class="md:text-base text-sm">
          Vom Anlegen eines neuen Fahrzeugprofils bis zum Abschluss des
          Kaufvertrags: Dealersoft begleitet Sie im gesamten Verkaufsprozess.
        </p>

        <a
          (click)="naviagateToTab('register')"
          class="text-blue-10 md:font-semibold underline underline-blue-10 hover:cursor-pointer md:text-base text-sm"
        >
          Jetzt 30 Tage testen
        </a>
      </div>
    </div>
    <div class="flex items-center space-x-3">
      <img
        src="assets/landing/line1.png"
        alt=""
        class="w-[4px] md:h-[75px] h-[45px]"
      />
      <h3 class="text-[#636464] font-bold md:text-lg text-sm">
        Lassen Sie Ihren Verkauf durchstarten!
      </h3>
    </div>
  </div>
</div>
