
div.mat-tab-label-content {
    color: rgb(0, 0, 0)!important;
    // width: 60px;
    // height: 50px;
    font-size: 1rem;
  }


  
  .mat-tab-group.mat-primary .mat-ink-bar {
    background: rgb(0, 0, 0)!important;
    height: 2px;
  }


  .mat-tab-label, .mat-tab-link {
    font-family: "Montserrat-Regular"!important ;  
  }
  
  


  
