

  <div class="flex border border-black p-4 mt-3 text-price ">
        <div class="grid grid-cols-[25%_35%_16%_17%] grid-rows-3 justify-items-start w-full  gap-y-0">       
        <div class="col-start-1 row-start-1 text-price-bold ">Fahrzeugpreis:</div>                                     
      
        <div class="col-start-3 row-start-1 "> Netto: </div>
        <div class="col-start-3 row-start-2 ">19% MwSt.: </div>   

        <div class="col-start-3 col-end-5  row-start-2 w-full border-b border-black border-dashed"> </div>   
        <div class="col-start-3 row-start-3  text-price-bold">Gessamt: </div>          
      
         <div class="col-start-4 row-start-1    flex justify-self-end ">{{car_buy_data?.attributes?.net_buy || 0 | currency}} </div>
        <div class="col-start-4 row-start-2    flex justify-self-end">{{car_buy_data?.attributes?.iva_buy || 0 | currency}} </div>
        <div class="col-start-4 row-start-3  flex justify-self-end">{{car_buy_data?.attributes?.gross_buy || 0 | currency}}  </div>                
        
    </div> 


  </div>
