<div class="w-full">

  <div *ngIf="loading && !noShowLoader; else content" class="mt-20">
    <app-loader></app-loader>
  </div>

  <ng-template #content>

    <div class="flex flex-col sm:flex-row justify-between w-full items-center p-2 sm:pl-4 bg-white shadow rounded-lg">
      <a class="btn btn-ghost border-2 border-gray-400 mb-2 sm:mb-0" routerLink="/admin/new-invoice">
        <mat-icon class="mr-2">add</mat-icon>
        Neue Rechnung
      </a>
      <div class="flex w-full sm:w-1/2 space-x-3 justify-end items-center flex-row">
        <input [(ngModel)]="filterQuery" class="input-search" placeholder="Suchen..." type="search"/>
        <button (click)="loadPaginatedData(currentPage)" class="btn btn-ghost" type="button">
          <mat-icon>sync</mat-icon>
        </button>
      </div>
    </div>

    <div class="mt-4">
      <app-dynamic-table (operationEvent)="catchEvent($event)" (paginationEvent)="loadPaginatedData($event)"
                         [OptionSettings]="OptionSettings" [canSticky]="true" [data]="data"
                         [displayedColumns]="displayedColumns" [endFieldSticky]="'op'" [filterQuery]="filterQuery"
                         [pageCount]="pageCount" [startFieldSticky]="'attributes.invoice_number'" class="w-full">
      </app-dynamic-table>
    </div>

  </ng-template>

</div>
