<div
  class="bg-gray-5 w-full grid md:grid-cols-3 items-center justify-items-center lg:py-20 lg:px-14 md:px-6 md:py-14"
>
  <div class="lg:w-1/2 w-full ml-auto px-6">
    <h2
      class="overflow-ellipsis font-extrabold md:text-4xl after:flex lg:mb-4 md:mb-3"
    >
      Autohandel <br />
      ganz <br />
      einfach.
    </h2>
    <p>...von Einkauf bis Verkauf, von Fahrzeugverwaltung bis Kaufvertrag.</p>
  </div>
  <div>
    <img
      src="assets/landing/main2.png"
      alt=""
      class="lg:w-72 md:w-64 mx-auto"
    />
  </div>
  <div
    class="text-lg text-gray-20 flex flex-col lg:space-y-5 md:space-y-3 md:px-6"
  >
    <div>
      <h3>Verwalten Sie ab jetzt jederzeit und überall</h3>
    </div>
    <div class="flex flex-col lg:space-y-3 space-y-2">
      <h3>Dealersoft Premium</h3>
      <p>
        Vom Anlegen eines neuen Fahrzeugprofils bis zum Abschluss des
        Kaufvertrags: Dealersoft begleitet Sie im gesamten Verkaufsprozess.
      </p>

      <a class="text-blue-10 underline underline-blue-10">
        Jetzt 30 Tage testen
      </a>
    </div>
    <div>
      <h3>Lassen Sie Ihren Verkauf durchstarten!</h3>
    </div>
  </div>
</div>
