


 <app-header-bill [client]="this.datosReportes.client"  [me]="this.datosReportes.me" [imgPath]="this.datosReportes.imgPath"></app-header-bill> 

 <!-- <app-header-privado [car_buy_data]="this.datosReportes.car_buy_data" [me]="this.datosReportes.me" [imgPath]="this.datosReportes.imgPath"></app-header-privado> -->


<div class="pt-3 px-20 ">

   
    <app-fecha-bill-cancel [invoice_date]="datosReportes.invoice_date" [invoice_number]="datosReportes.invoice_number" 
    [user_city]="datosReportes.user_city"  [reference_invoice_number]="datosReportes.reference_invoice_number">
    </app-fecha-bill-cancel>

     <p class="flex text-center mt-4 text-details-report ">
        Wir berechnen Ihnen hiermit gemäß Absprache folgende(n) Artikel
    </p>

    <div class="mt-10 text-contract-big">
        Beschreibung
    </div>

   
    <div class="mt-4 ">
        <app-precio-bill-a25 [lista_articulos]="datosReportes.bill_info.places" [cancel_invoice]="true" ></app-precio-bill-a25>

    </div>


    <div class="mt-10 ">
        <table class="" style="text-align: left">
            <tr>
                <span class="pr-2 text-details-bold-report ">Lieferdatum: </span>
                <span class="text-details-report">{{this.datosReportes.bill_info?.delivery_date | date:'dd.MM.yyyy'}}</span>
            </tr>

            <tr>
                <div class="text-details-report">Der Verkauf erfolgt nach §25a</div>
                <div class="text-details-report">Gebrauchtware / Sonderregelung</div>
            </tr>
        </table>
    </div> 

</div>


<app-footer-empresa [car_buy_data]="this.datosReportes.bill_info" [me]="this.datosReportes.me"></app-footer-empresa> 