@font-face {
  font-family: "WorkSans-Regular";
  src: local("WorkSans-Regular"),
    url("/assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Bold";
  src: local("WorkSans-Bold"),
    url("/assets/fonts/WorkSans-Bold.ttf") format("truetype");
}
