<div
  id="sideBar"
  *ngIf="openSide"
  data-aos="fade-left"
  data-aos-easing="linear"
  data-aos-duration="500"
  [ngClass]="{'overflow-y-hidden':openSide}"
  class="md:hidden flex flex-col w-64 absolute h-screen right-0 z-40 bg-gray-30 pl-6 pt-10 font-bold"
>
  <div class="z-50 absolute top-4 right-6 text-white" (click)="toggleOpen()">
    <img src="assets/landing/cancel.png" alt="" class="w-6" />
  </div>
  <a
    [routerLink]="['/']"
    class="py-2 pl-3 pr-4 lg:text-base hover:text-white rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
  >
    Home
  </a>

  <a
  (click)="navigationSection('funktionen')"
    class="py-2 pl-3 pr-4 lg:text-base hover:text-white rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
  >
    Funktionen
  </a>

  <a
  (click)="navigationSection('uber')"
    class="py-2 pl-3 pr-4 lg:text-base hover:text-white rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
  >
    Über uns
  </a>

  <a
    [routerLink]="['/contact']"
    class="py-2 pl-3 pr-4 lg:text-base hover:text-white rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
  >
    Kontakt
  </a>

  <a
    [routerLink]="['/testimonials']"
    class="py-2 pl-3 pr-4 lg:text-base hover:text-white rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
  >
    Kundenstimmen
  </a>
</div>
<div
  class="flex font-work text-base items-center justify-between lg:px-14 w-full md:px-6 px-4"
>
  <a [routerLink]="['/']" class="md:w-1/4">
    <img
      src="assets/landing/logoB.png"
      alt=""
      class="lg:w-52 md:w-32 w-24 hover:cursor-pointer"
    />
  </a>

  <div
    class="md:flex lg:space-x-6 md:space-x-4 lg:text-base md:text-sm hidden text-gray-25"
  >
    <a
      [routerLink]="['/']"
      class="{{
        activeLink == 'home' ? 'font-bold' : 'font-normal'
      }} py-2 pl-3 pr-4 lg:text-base hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Home
    </a>

    <a
      (click)="navigationSection('funktionen')"
      class="{{
        activeLink == 'funktionen' ? 'font-bold' : 'font-normal'
      }} py-2 pl-3 pr-4 lg:text-base hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Funktionen
    </a>

    <a
      (click)="navigationSection('uber')"
      class="{{
        activeLink == 'uber' ? 'font-bold' : 'font-normal'
      }} py-2 pl-3 pr-4 lg:text-base hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Über uns
    </a>

    <a
      [routerLink]="['/contact']"
      class="py-2 pl-3 pr-4 lg:text-base hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Kontakt
    </a>

    <a
      [routerLink]="['/testimonials']"
      routerLinkActive="font-bold"
      class="py-2 pl-3 pr-4 lg:text-base hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Kundenstimmen
    </a>
  </div>
  <div class="flex lg:space-x-8 space-x-4 lg:text-base md:text-sm md:w-1/4">
    <a
      (click)="naviagateToTab('register')"
      class="focus:border-gray-10 font-semibold md:text-base text-[11px] w-[5.5rem] h-9 hover:cursor-pointer hover:text-white hover:bg-gray-15 transition-all ease-linear duration-200 flex justify-center md:h-10 items-center lg:w-36 lg:h-14 md:w-[6rem] rounded-md border border-gray-10 text-gray-15"
    >
      Registrieren
    </a>

    <a
      (click)="naviagateToTab('login-reg')"
      class="focus:border-gray-10 font-semibold md:text-base text-[11px] w-[5.5rem] h-9 hover:cursor-pointer hover:text-gray-15 hover:bg-white hover:border-gray-10 transition-all ease-linear duration-200 md:h-10 flex justify-center items-center lg:w-36 md:w-[6rem] lg:h-14 rounded-md border border-gray-15 bg-gray-15 text-white"
    >
      Anmelden
    </a>
  </div>

  <div class="md:hidden flex">
    <img
      src="assets/landing/bars.png"
      alt=""
      class="w-5"
      (click)="toggleOpen()"
    />
  </div>
</div>
