<div
  class="flex bg-white font-work text-base items-center justify-between lg:px-14 w-full md:px-6 px-4 z-50 relative"
>
  <a [routerLink]="['/']" class="md:w-1/4">
    <img
      src="assets/landing/logoB.png"
      alt=""
      class="lg:w-52 md:w-32 w-24 hover:cursor-pointer"
    />
  </a>

  <div
    class="md:flex lg:space-x-6 md:space-x-4 lg:text-base md:text-sm hidden text-gray-25"
  >
    <a
      [routerLink]="['/']"
      class="py-2 pl-3 pr-4 lg:text-base hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Home
    </a>

    <a
      (click)="navigationSection('funktionen')"
      class="py-2 pl-3 pr-4 lg:text-base hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Funktionen
    </a>

    <a
      (click)="navigationSection('uber')"
      class="py-2 pl-3 pr-4 lg:text-base hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Über uns
    </a>

    <a
      href="/contact"
      routerLinkActive="font-bold"
      class="py-2 pl-3 pr-4 lg:text-base hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Kontakt
    </a>

    <a
      [routerLink]="['/testimonials']"
      routerLinkActive="font-bold"
      class="py-2 pl-3 pr-4 lg:text-base hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Kundenstimmen
    </a>
  </div>
  <div class="flex lg:space-x-8 space-x-4 lg:text-base md:text-sm md:w-1/4">
    <a
      (click)="naviagateToTab('register')"
      class="focus:border-gray-10 font-semibold md:text-base text-[11px] w-[5.5rem] h-9 hover:cursor-pointer hover:text-white hover:bg-gray-15 transition-all ease-linear duration-200 flex justify-center md:h-10 items-center lg:w-36 lg:h-14 md:w-[6rem] rounded-md border border-gray-10 text-gray-15"
    >
      Registrieren
    </a>

    <a
      (click)="naviagateToTab('login-reg')"
      class="focus:border-gray-10 font-semibold md:text-base text-[11px] w-[5.5rem] h-9 hover:cursor-pointer hover:text-gray-15 hover:bg-white hover:border-gray-10 transition-all ease-linear duration-200 md:h-10 flex justify-center items-center lg:w-36 md:w-[6rem] lg:h-14 rounded-md border border-gray-15 bg-gray-15 text-white"
    >
      Anmelden
    </a>
  </div>

  <div class="md:hidden flex relative navigationBar">
    <input type="checkbox" [checked]="openSide" class="togglemenu">
    <div class="hamburguer" (click)="toggleOpen()"></div>
  </div>
</div>


<div [ngClass]="{'inDown' : openSide == true, 'inUp' : !openSide && !firstTime}" class="pt-1 menu bg-gray-25 font-semibold text-white absolute z-20 w-full h-screen flex flex-col">
  <div class="flex flex-col divide-y-2 border-white border-t-2 border-b-2">
    <a
      [routerLink]="['/']"
      (click)="offOpenSide()"
      class="py-2 pl-3 pr-4 text-lg hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Home
    </a>

    <a
      (click)="navigationSection('funktionen')"
      (click)="offOpenSide()"
      class="py-2 pl-3 pr-4 text-lg hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Funktionen
    </a>

    <a
      (click)="navigationSection('uber')"
      (click)="offOpenSide()"
      class="py-2 pl-3 pr-4 text-lg hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Über uns
    </a>

    <a
      [routerLink]="['/contact']"
      routerLinkActive="font-bold"
      (click)="offOpenSide()"
      class="py-2 pl-3 pr-4 text-lg hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Kontakt
    </a>

    <a
      [routerLink]="['/testimonials']"
      routerLinkActive="font-bold"
      (click)="offOpenSide()"
      class="py-2 pl-3 pr-4 text-lg hover:text-gray-10 rounded md:bg-transparent hover:cursor-pointer md:p-0 transition-all ease-linear duration-200"
    >
      Kundenstimmen
    </a>
  </div>

  <div class="left-3 absolute bottom-[15vh] flex items-center space-x-10">
    <div class="flex space-x-4 w-full items-center justify-start">
      <a href="https://www.facebook.com/dealersoft/"><img src="assets/landing/facebook.svg" alt="" class="w-10 "></a>
      <a href="https://instagram.com/dealersoft.de?igshid=YmMyMTA2M2Y="><img src="assets/landing/instagram.svg" alt="" class="w-9"></a>
    </div>
    <a (click)="offOpenSide()" href="/impressum" class="text-white font-semibold text-lg">Impressum</a>
  </div>
</div>
