<div class="">
  <app-navbar></app-navbar>
  <app-banner-main></app-banner-main>
  <app-second-banner></app-second-banner>
  <app-banner-black></app-banner-black>
  <div id="funktionen">
    <app-section-funktionen></app-section-funktionen>
  </div>
  <div id="uber">
    <app-uber-section></app-uber-section>
  </div>
  <div class="bg-[#202124] lg:py-20">
    <app-landing-register></app-landing-register>
    <img src="assets/landing/bglogin.png" alt="" class="lg:w-[70%] mx-auto" />
  </div>
</div>
