<div class="grid grid-cols-6 main-color  md:w-[40%] md:ml-20 p-3 mb-5">
    <div class=" ">
        <a href="https://twitter.com">
            <img alt="Dealersoft.de Black brand" class="cursor-pointer  md:h-[2vw] " src="assets/icons/twitter.svg">
        </a>
    </div>
    <div class="ml-2 ">
        <a href="https://www.facebook.com">
            <img alt="Dealersoft.de Black brand" class="cursor-pointer  md:h-[2vw] " src="assets/icons/facebook.svg">
        </a>

    </div>
    <div  class="">

        <a href="https://www.instagram.com">
            <img alt="Dealersoft.de Black brand" class="cursor-pointer  md:h-[2vw] " src="assets/icons/instagram.svg">
        </a>
    </div>
    <div  class="hidden md:block"></div>
    <div class="fuentes-texto  ">Impressum</div>
    <div class="ml-3 fuentes-texto  ">Datenschutz</div>

</div>