<div class="w-full">
  <mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedTab" animationDuration="100ms"
    class="lg:mt-4 md:mt-0 flex justify-center" id="login-register">
    <mat-tab label="Registrieren" class="text-white md:text-lg">
      <div class="px-5">
        <app-landing-register></app-landing-register>
      </div>
    </mat-tab>
    <mat-tab label="Anmelden" class="text-white text-lg">
      <div class="md:mt-6 mt-5 px-5">
        <app-landing-login></app-landing-login>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>