@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

.mat-tab-label, .mat-tab-link {
  padding: 5px;
  font-size: 20px;
  color: white !important;
  font-weight: 400;
}

/* Styles for the active tab label */
.mat-tab-label .mat-tab-label-active {
  padding: 5px;
  color: white !important;
  font-size: 20px;
  font-weight: 400;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: white !important;
}

@media (max-width: 766px) {
  .mat-tab-label {
    font-weight: 400 !important;
    color: white !important;

    font-size: 16px;
  }
  .mat-tab-label.mat-tab-label-active {
    font-weight: 400 !important;
    color: white !important;

    font-size: 16px;
  }
}
