@font-face {
  font-family: "WorkSans-Regular";
  src: local("WorkSans-Regular"),
    url("/assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Regular";
  src: local("WorkSans-Regular"),
    url("/assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

#sideBar,
#navbar {
  font-family: "WorkSans-Regular";
}


#overlay {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.1);
}