@font-face {
  font-family: "WorkSans-Regular";
  src: local("WorkSans-Regular"),
    url("/assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WorkSans-Regular";
  src: local("WorkSans-Regular"),
    url("/assets/fonts/WorkSans-Regular.ttf") format("truetype");
}

#sideBar,
#navbar {
  font-family: "WorkSans-Regular";
}
