<form (ngSubmit)="register()" [formGroup]="registerForm" class="flex flex-col justify-center items-center">
  <!-- <div class="h-[550px] overflow-y-auto grid grid-cols-2 gap-x-2 w-full md:w-[32rem]"> -->
  <div class="grid grid-cols-2 gap-x-2 w-full md:w-[80%]">
    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('first_name') ? 'input-error' : 'input-primary'
        }} rounded-md border border-gray-30 input pl-12 w-full py-3" formControlName="first_name" placeholder="Vorname"
        [required]="true" type="text" />
      <span *ngIf="hasRequiredError('first_name')" class="label-text-alt text-red-400 pl-2">
        <b>Vorname</b> wird benötigt
      </span>
    </div>

    <!-- 
    <mat-form-field class="relative mt-3 col-span-2 sm:col-span-1"  >
      <input matInput 
      class="{{hasError('first_name') ? 'input-error' : 'input-primary'}} rounded-full bg-[#1E253E] mycolor input pl-12 w-full"
      
        formControlName="first_name" placeholder="Vorname" [required]="true" type="text">
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="name_img" class="ml-4" src="assets/user--v1.png" />
      </div>
      <mat-error *ngIf="hasRequiredError('first_name')" class="label-text-alt text-red-400 pl-2">
        <b>Vorname</b> wird benötigt
      </mat-error>
    </mat-form-field> -->

    <!-- <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
      <mat-label class="font-montserrat">Fahrzeugname</mat-label>
      <input [required]="isRequired()" formControlName="name" matInput class="font-montserrat">
      <mat-error *ngIf="hasRequiredError('name')">
        <b>Fahrzeugname</b> ist erforderlich
      </mat-error>
    </mat-form-field> -->

    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('last_name') ? 'input-error' : 'input-primary'
        }}  rounded-md border border-gray-30 input pl-12 w-full" formControlName="last_name" placeholder="Nachname"
        required type="text" />

      <span *ngIf="hasRequiredError('last_name')" class="label-text-alt text-red-400 pl-2">
        <b>Nachname</b> wird benötigt
      </span>
    </div>

    <div class="relative mt-3 col-span-2">
      <input autocomplete="company_name" class="{{ hasError('company_name') ? 'input-error' : 'input-primary' }}
      input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="company_name" placeholder="Firmenname"
        type="text" required />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="company_name_img" class="ml-4" src="assets/company.png" />
      </div>
      <span *ngIf="hasRequiredError('company_name')" class="label-text-alt text-red-400 pl-2">
        <b>Firma</b> wird benötigt
      </span>
    </div>

    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('username') ? 'input-error' : 'input-primary'
        }} input  pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="username" placeholder="Nutzername"
        required type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img class="ml-4" src="assets/user.png" />
      </div>
      <span *ngIf="hasRequiredError('username')" class="label-text-alt text-red-400 pl-2">
        <b>Nutzername</b> wird benötigt
      </span>
    </div>

    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input [type]="showPassword ? 'text' : 'password'" autocomplete="new-password" class="{{
          hasError('password') ? 'input-error' : 'input-primary'
        }} rounded-full bg-[#1E253E] mycolor input pl-12 w-full" formControlName="password" minlength="8"
        placeholder="Passwort" required />
      <div class="absolute left-0 top-3 flex items-center">
        <img (click)="togglePwd()" *ngIf="showPassword" alt="show_password_img" class="ml-4 cursor-pointer"
          src="assets/show-password.png" />
        <img (click)="togglePwd()" *ngIf="!showPassword" alt="password_img" class="ml-4 cursor-pointer"
          src="assets/password.png" />
      </div>
      <span *ngIf="hasRequiredError('password')" class="label-text-alt text-red-400 pl-2">
        <b>Passwort</b> wird benötigt
      </span>
      <span *ngIf="hasMinLengthError('password')" class="label-text-alt text-red-400 pl-2">
        <b>Passwort</b> muss mindestens 8 Zeichen lang sein
      </span>
    </div>

    <div class="relative mt-3 col-span-2">
      <input class="{{
          hasError('email') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="email" placeholder="E-Mail" required
        type="email" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="email_img" class="ml-4" src="assets/email.png" />
      </div>
      <span *ngIf="hasRequiredError('email')" class="label-text-alt text-red-400 pl-2">
        <b>E-Mail</b> wird benötigt
      </span>
      <span *ngIf="hasEmailError('email')" class="label-text-alt text-red-400 pl-2">
        <b>E-Mail</b> ist ungültig
      </span>
    </div>

    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('employees_number') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="employees_number"
        placeholder="Mitarbeiterzahl" required type="number" />
      <div class="absolute left-0 top-3 flex items-center">
        <img class="ml-4" src="assets/person.png" />
      </div>
      <span *ngIf="hasRequiredError('employees_number')" class="label-text-alt text-red-400 pl-2">
        <b>Mitarbeiterzahl</b> wird benötigt
      </span>
    </div>

    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('street') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="street" placeholder="Straße" required
        type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="crossroad" class="ml-4" src="assets/crossroad.png" />
      </div>
      <span *ngIf="hasRequiredError('street')" class="label-text-alt text-red-400 pl-2">
        <b>Straße</b> wird benötigt
      </span>
    </div>
    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('house_number') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="house_number"
        placeholder="Hausnummer" required type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="house" class="ml-4" src="assets/external-house-ui-dreamstale-lineal-dreamstale.png" />
      </div>
      <span *ngIf="hasRequiredError('house_number')" class="label-text-alt text-red-400 pl-2">
        <b>Hausnummer</b> wird benötigt
      </span>
    </div>
    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('city') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="city" placeholder="Stadt" required
        type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="city-buildings_img" class="ml-4" src="assets/city-buildings.png" />
      </div>
      <span *ngIf="hasRequiredError('city')" class="label-text-alt text-red-400 pl-2">
        <b>Stadt</b> wird benötigt
      </span>
    </div>
    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('postal_code') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="postal_code"
        placeholder="Postleitzahl" required type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="postcode_img" class="ml-4" src="assets/postcode.png" />
      </div>
      <span *ngIf="hasRequiredError('postal_code')" class="label-text-alt text-red-400 pl-2">
        <b>Postleitzahl</b> wird benötigt
      </span>
    </div>
    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('phone') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="phone" placeholder="Telefon" required
        type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="apple-phone" class="ml-4" src="assets/apple-phone.png" />
      </div>
      <span *ngIf="hasRequiredError('phone')" class="label-text-alt text-red-400 pl-2">
        <b>Telefon</b> wird benötigt
      </span>
    </div>
    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('website') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="website" placeholder="Website"
        required type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="domain" class="ml-4" src="assets/domain.png" />
      </div>
      <span *ngIf="hasRequiredError('website')" class="label-text-alt text-red-400 pl-2">
        <b>Website</b> wird benötigt
      </span>
    </div>
    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('steuer_nr') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="steuer_nr" placeholder="Steuer Nr."
        required type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="tax" class="ml-4" src="assets/tax.png" />
      </div>
      <span *ngIf="hasRequiredError('steuer_nr')" class="label-text-alt text-red-400 pl-2">
        <b>Steuer Nr.</b> wird benötigt
      </span>
    </div>
    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('ust_Idnr') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="ust_Idnr" placeholder="USt. ID"
        required type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="identification-documents" class="ml-4" src="assets/identification-documents.png" />
      </div>
      <span *ngIf="hasRequiredError('ust_Idnr')" class="label-text-alt text-red-400 pl-2">
        <b>USt. ID</b> wird benötigt
      </span>
    </div>
    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('geschaftsfuhrer') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="geschaftsfuhrer"
        placeholder="Geschäftsführer" required type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="manager" class="ml-4" src="assets/manager.png" />
      </div>
      <span *ngIf="hasRequiredError('geschaftsfuhrer')" class="label-text-alt text-red-400 pl-2">
        <b>Ansprechpartner</b> wird benötigt
      </span>
    </div>

 

    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('bank_name') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="bank_name"
        placeholder="Name der Bank" required type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="cancel-4-digits" class="ml-4" src="assets/cancel-4-digits.png" />
      </div>
      <span *ngIf="hasRequiredError('bank_name')" class="label-text-alt text-red-400 pl-2">
        <b>Name der Bank</b> wird benötigt
      </span>
    </div>

    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('iban') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="iban" placeholder="IBAN" required
        type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="cancel-4-digits" class="ml-4" src="assets/cancel-4-digits.png" />
      </div>
      <span *ngIf="hasRequiredError('iban')" class="label-text-alt text-red-400 pl-2">
        <b>IBAN</b> wird benötigt
      </span>
    </div>

    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('bic_swift_code') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="bic_swift_code"
        placeholder="BIC/SWIFT-Code" required type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="swift-payment-system" class="ml-4" src="assets/swift-payment-system.png" />
      </div>
      <span *ngIf="hasRequiredError('bic_swift_code')" class="label-text-alt text-red-400 pl-2">
        <b>BIC/SWIFT-Code</b> wird benötigt
      </span>
    </div>

      <!-- Empty Field -->
      <div class="relative mt-3 col-span-2 sm:col-span-1 ">
      </div>

    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{hasError('hrb_ort') ? 'input-error' : 'input-primary' }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="hrb_ort"
        placeholder="HRB Ort" required type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="hashtag-2" class="ml-4" src="assets/city-buildings.png" />
      </div>
      <span *ngIf="hasRequiredError('hrb_ort')" class="label-text-alt text-red-400 pl-2">
        <b>HRB Ort</b> wird benötigt
      </span>
    </div>


    <div class="relative mt-3 col-span-2 sm:col-span-1">
      <input class="{{
          hasError('hrb_walsrode') ? 'input-error' : 'input-primary'
        }} input pl-12 w-full rounded-full bg-[#1E253E] mycolor" formControlName="hrb_walsrode"
        placeholder="HRB Nummer" required type="text" />
      <div class="absolute left-0 top-3 flex items-center">
        <img alt="hashtag-2" class="ml-4" src="assets/hashtag-2.png" />
      </div>
      <span *ngIf="hasRequiredError('hrb_walsrode')" class="label-text-alt text-red-400 pl-2">
        <b>HRB Nummer</b> wird benötigt
      </span>
    </div>
  </div>

  <div class="col-span-2 flex justify-center items-center mt-6">
    <button class="btn w-40 bg-[#3A4157] px-4 rounded-full" type="submit">
      <mat-spinner *ngIf="isLoading" class="mr-2" diameter="18"></mat-spinner>
      <span class="tracking-wide">ANMELDEN</span>
    </button>
  </div>
</form>