
<div class="card bg-white">
  <div class="card-body">
    <form (ngSubmit)="submit()" [formGroup]="carSellForm">
      <div class="divider font-bold font-montserrat">Allgemeine Daten</div>
      <div class="grid grid-cols-2 gap-x-8 gap-y-2 w-full xl:w-9/12 my-3">
        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <!-- <mat-label class="font-montserrat">Fahrzeug</mat-label>
          <mat-select formControlName="car" required>
            <mat-option *ngFor="let option of carsOptions" [value]="option.id">
              {{option.attributes.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="hasRequiredError('car')">
            <b>Fahrzeug</b> wird benötigt
          </mat-error>
         -->


          <mat-label class="font-montserrat" >Fahrzeugname</mat-label>
          <input class="font-montserrat" formControlName="car_name" matInput readonly="true">
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <mat-label class="font-montserrat">Kunde</mat-label>
          <input class="font-montserrat" #autoComplete [matAutocomplete]="auto" formControlName="client" matInput required type="text">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
            <mat-option *ngFor="let option of filteredOptions" [value]="option.id"  class="font-montserrat">
             
              <ng-container *ngIf="option.attributes?.company_name">
                {{option?.attributes?.company_name}}
              </ng-container>
              <ng-container *ngIf="!option.attributes?.company_name">
                {{option?.attributes?.first_name}} {{option?.attributes?.last_name}}
              </ng-container>                        
     

            </mat-option>
          </mat-autocomplete>
          <button (click)="addCustomer($event)" class="tooltip tooltip-bottom" data-tip="Neuen Kunden hinzufügen"
            mat-icon-button matSuffix [disabled]="boton_salvar_disabled">
            <mat-icon>add</mat-icon>
          </button>
          <mat-error *ngIf="hasRequiredError('client')">
            <b>Kunde</b> wird benötigt
          </mat-error>
        </mat-form-field>




        <!-- 
          **************************************************************************************************************** 
          **   Zahlungsart  (Antes Zahlen )                            
          **************************************************************************************************************** 
        -->
        <mat-form-field appearance="outline" class="col-span-2">
          <mat-label class="font-montserrat">Zahlungsart</mat-label>
          <input class="font-montserrat" formControlName="zahlunsart" matInput min="0" type="text">
          <mat-error *ngIf="hasRequiredError('zahlunsart')">
            <b>Zahlungsart</b> wird benötigt
          </mat-error>
        </mat-form-field>


        <div class="col-span-2 flex items-start sm:items-center justify-start gap-x-3 pl-5 flex-col sm:flex-row">
          <div class="flex gap-x-3 pb-3" *ngIf="puede_solo_a25">
            <input class="toggle" formControlName="a25" id="a25" type="checkbox" >
            <label class="cursor-pointer font-montserrat text-gray-500" for="a25">§25a</label>
          </div>
          <div class="flex gap-x-3 pb-3" *ngIf="puede_solo_iva">
            <input class="toggle" formControlName="iva" id="iva" type="checkbox">
            <label class="cursor-pointer font-montserrat text-gray-500" for="iva">MwSt.</label>
          </div>
          <div class="flex gap-x-3 pb-3">
            <input class="toggle" formControlName="export" id="export" type="checkbox">
            <label class="cursor-pointer font-montserrat text-gray-500" for="iva">Export</label>
          </div>
        </div>
      </div>

      <div class="divider font-bold font-montserrat">Verkaufspreis</div>
      <div class="flex flex-col xl:flex-row justify-start gap-x-8 w-full xl:w-9/12 my-3">
        <mat-form-field appearance="outline">
          <mat-label class="font-montserrat">Mehrwertsteuer in €</mat-label>
          <input class="font-montserrat" formControlName="iva_sell" matInput min="0" type="currency"  lang="de-DE" name="iva_sell"
            (focus)="onFocusEvent($event)" (focusout)="focusOutFunction($event)" >
          <mat-error *ngIf="hasRequiredError('iva_sell')">
            <b>Mehrwertsteuer in €</b> wird benötigt
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="font-montserrat">Netto in €</mat-label>
          <input class="font-montserrat" formControlName="net_sell" matInput min="0" type="currency"  lang="de-DE" name="net_sell"
            (focus)="onFocusEvent($event)" (focusout)="focusOutFunction($event)" >
          <mat-error *ngIf="hasRequiredError('net_sell')">
            <b>Netto in €</b> wird benötigt
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="font-montserrat">Brutto in €</mat-label>


          <input class="font-montserrat" formControlName="gross_sell" matInput min="0" type="currency"  lang="de-DE" name="gross_sell"
            (focus)="onFocusEvent($event)" (focusout)="focusOutFunction($event)">
          <mat-error *ngIf="hasRequiredError('gross_sell')" >
            <b>Brutto in €</b> wird benötigt
          </mat-error>
        </mat-form-field>
      </div>


      <div class="divider font-bold font-montserrat">Sonstige Kosten</div>

     
      <mat-tab-group #tab_invoice mat-align-tabs="start" [(selectedIndex)]="selected_tab" animationDuration="250ms"
        (selectedTabChange)="onTabChange($event)" >


        <mat-tab label="Kaufvertrag" class="color-mat-tab">
          <div class="grid grid-cols-2 gap-x-8 gap-y-2 w-full xl:w-9/12 my-3">

            <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
              <mat-label class="font-montserrat">KV-Datum</mat-label>
              <input class="font-montserrat" [matDatepicker]="pickerKvDate" formControlName="kv_date" matInput>
              <mat-datepicker-toggle [for]="pickerKvDate" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #pickerKvDate></mat-datepicker>
            </mat-form-field>


            <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
              <mat-label class="font-montserrat">Abholung</mat-label>
              <input class="font-montserrat"  formControlName="abholtermin" matInput>                            
            </mat-form-field>

           <!-- Kaufvertrag -->
            <mat-form-field class="example-full-width" appearance="outline" class="col-span-2">
              <mat-label class="font-montserrat">Bemerkungen</mat-label>
              <textarea matInput placeholder="Bemerkungen" formControlName="bemerkunhen2" rows="4"
                [maxlength]="total_lineas_comentario1 * total_characters_por_linea" (keydown)="keydown($event)"  
                class="font-montserrat" (keypress)="keypress($event)" > </textarea>
                  
            </mat-form-field>
          </div>
        </mat-tab>
        
        <mat-tab label="Rechnung" class="active">
          <div class="grid grid-cols-2 gap-x-8 gap-y-2 w-full xl:w-9/12 my-3">

            <mat-form-field appearance="outline" class="col-span-1 lg:row-start-1 ">
              <mat-label class="font-montserrat">Rechnungs-Nr.</mat-label>
              <input class="font-montserrat" formControlName="invoice_number" matInput  readonly>
              <mat-error *ngIf="hasRequiredError('invoice_number')">
                <b>Rechnungs-Nr.</b> wird benötigt
              </mat-error>
            </mat-form-field>

            <div class="col-span-1 lg:row-start-1 pt-2">

              <button mat-icon-button [disabled]="boton_salvar_disabled" class="text-gray-5000 drawer-button" (click)="generateInvoice_NumberHammer()" type="button">
                <mat-icon class="text-black">gavel</mat-icon>
              </button>
             
            </div>
           
  

            <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1 lg:row-start-2 ">
              <mat-label class="font-montserrat">Rechnungsdatum</mat-label>
              <input class="font-montserrat" [matDatepicker]="pickerInvoiceDate" formControlName="invoice_date" matInput >
              <mat-error *ngIf="hasRequiredError('invoice_date')">
                <b>Rechnungsdatum</b> wird benötigt
              </mat-error>
              <mat-datepicker-toggle [for]="pickerInvoiceDate" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #pickerInvoiceDate></mat-datepicker>
            </mat-form-field>


            <!-- 
          **************************************************************************************************************** 
          **   Lieferung  : Fecha de entrega                         
          **************************************************************************************************************** 
        -->
            <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1 lg:row-start-2 ">
              <mat-label class="font-montserrat">Lieferdatum ändern</mat-label>
              <input class="font-montserrat" [matDatepicker]="pickerLieferung" formControlName="lieferung" matInput >
              <mat-error *ngIf="hasRequiredError('lieferung')">
                <b>Lieferdatum ändern</b> wird benötigt
              </mat-error>
              <mat-datepicker-toggle [for]="pickerLieferung" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #pickerLieferung></mat-datepicker>
            </mat-form-field>

            <!-- Rechnung -->
            <mat-form-field class="example-full-width" appearance="outline" class="col-span-2 lg:row-start-3">
              <mat-label class="font-montserrat">Bemerkungen</mat-label>

              <textarea matInput placeholder="Bemerkungen" formControlName="bemerkunhen" rows="4" 
                [maxlength]="total_lineas_comentario1 * total_characters_por_linea"
                (keydown)="keydown($event)"  (keypress)="keypress($event)" class="font-montserrat" ></textarea>


                
            </mat-form-field>

            





          </div>
        </mat-tab>



      </mat-tab-group>
  


      <mat-divider></mat-divider>
      <div class="flex flex-col md:flex-row w-full justify-center md:justify-between items-center mt-6 space-x-3">
        <div class="grid grid-cols-2 w-full md:w-1/3 gap-2">
   

          <button (click)="generatePdf(exportType.bot_privado)" class="btn bg-[#8591AA] border-[#8591AA] font-montserrat" type="button">
            <span class="font-montserrat">Privat</span>
          </button>

          <button (click)="generatePdf(exportType.bot_netto )" class="btn bg-[#8591AA] border-[#8591AA] font-montserrat" type="button">
            <span class="font-montserrat">Netto Export</span>
          </button>

          <button (click)="generatePdf(exportType.bot_gewerbe)" class="btn bg-[#8591AA] border-[#8591AA] font-montserrat" type="button">
            <span class="font-montserrat">Gewerbe</span>
          </button>

          <button (click)="generatePdf(exportType.bot_netto_eu )" class="btn bg-[#8591AA] border-[#8591AA] border-2 font-montserrat" type="button">
            <span class="font-montserrat">Netto EU-Export</span>
          </button>

          <!--               
          <a href="/export/gewerbe/a25" class="btn btn-primary border-2" type="button">
            <span class="font-montserrat">Test</span>
        </a> -->




        </div>

 <!-- <div *ngIf="selected_tab==0"> kauvfertrag-->
        <div class="grid grid-cols-2 w-full md:w-1/3 " *ngIf="selected_tab==0">
          <div class="flex gap-x-3 pb-3">
            <input #bemerkungencheck2page class="toggle" formControlName="bemerkungencheck2page"
              id="bemerkungencheck2page" type="checkbox"  [checked]="isChecked" (change)="onNativeChange($event)">
            <label class="cursor-pointer font-montserrat text-gray-500 font-montserrat" for="bemerkungencheck2page">Bemerkungen für zweite
              Seite</label>
          </div>

      
        </div>

        

         <!-- <div *ngIf="selected_tab==1"> Rechnung-->
      <div class="grid grid-cols-2 w-full md:w-1/3 mt-5 ">
        <!-- [disabled]="!boton_salvar_disabled" -->
    
        <button (click)="generateBill()" class="btn bg-[#8591AA] border-[#8591AA] w-40"   *ngIf="selected_tab==1" type="button"  >
          <span class="tracking-wide font-montserrat">Herunterladen</span>
        </button>

        <button class="btn bg-[#8591AA] border-[#8591AA] w-40 ml-5" type="submit"  [disabled]="boton_salvar_disabled">
          <span class="tracking-wide font-montserrat">Speichern</span>
        </button>
      </div>

<!-- 
        <div class="flex justify-start items-center space-x-3 mt-4">
          <button class="btn bg-[#8591AA] border-[#8591AA] w-40" type="submit"  [disabled]="boton_salvar_disabled">
            <span class="tracking-wide font-montserrat">Speichern</span>
          </button>
        </div> -->

        
      </div>

      <!-- <div *ngIf="selected_tab==0"> kauvfertrag-->
      <div *ngIf="isChecked && selected_tab==0">
        <div class="divider font-bold font-montserratmt-3">Zweite Seite</div>
        <div class="grid grid-cols-1 gap-x-8 gap-y-2 w-full xl:w-9/12 my-3">

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label class="font-montserrat">Bemerkungen für zweite Seite</mat-label>
            <textarea matInput placeholder="Bemerkungen für zweite Seite" formControlName="bemerkunhen2page"
             rows="4" (keydown)="keydown2($event)"  [maxlength]="total_lineas_comentario2 * total_characters_por_linea"  
              cdkTextareaAutosize cdkAutosizeMinRows="1"
             cdkAutosizeMaxRows="20"  class="font-montserrat"   (keypress)="keypress($event)">

            </textarea>

            <!-- (keyup)="keyup($event)" -->
          </mat-form-field>

        </div>
      </div>

      <!-- </div>  -->


    </form>
  </div>
</div>
