<div class="flex justify-between items-center">
  <div
    class="w-full flex lg:space-x-10  md:space-x-8 md:py-8 py-6 space-x-6 text-[#5F6368] md:text-lg text-base font-semibold"
  >
    <a href="/impressum">Impressum</a>  
  </div>
  
  <div class="flex items-center space-x-4">
    <a class="hover:cursor-pointer" href="https://www.facebook.com/dealersoft/">
        <img src="assets/landing/face.png" alt="" class="w-[1.5rem]">
    </a>
    <a class="hover:cursor-pointer" href="https://instagram.com/dealersoft.de?igshid=YmMyMTA2M2Y=">
        <img src="assets/landing/insta.png" alt="" class="w-[1.5rem]">
    </a>
  </div>
</div>
