<div *ngIf="car_buy_data?.attributes?.bemerkungencheck2page" class="new-page">


    <!-- <div *ngIf="empresa" >
            <app-header-privado [car_buy_data]="car_buy_data" [me]="me" [imgPath]="imgPath"></app-header-privado>
        </div>  -->


    <div *ngIf="empresa; else particular">
        <app-header-empresa [car_buy_data]="car_buy_data" [me]="me" [imgPath]="imgPath"></app-header-empresa>
    </div>



    <ng-template #particular>
        <app-header-privado [car_buy_data]="car_buy_data" [me]="me" [imgPath]="imgPath"></app-header-privado>
    </ng-template>


    <main class="pt-4  mt-8 px-20 ">

        <app-car-details-supermin  [car_info]="car_info"></app-car-details-supermin>

        <table class="mt-5 mb-8 text-details" style="text-align: left">
            <tr class="">
                <th class="pr-4 text-details-bold  flex 	item-start">Bemerkungen:</th>
                <td>
                    <p class="break-all preserve-line-break w-97  text-details ">{{car_buy_data?.attributes?.bemerkunhen2page}}</p>
                </td>
            </tr>
        </table>
    </main>

    <app-footer-empresa [car_buy_data]="car_buy_data" [me]="me"></app-footer-empresa>

   


</div>