<h1
  class="text-center text-black font-extrabold lg:text-5xl md:text-4xl text-3xl lg:mb-8 md:mb-6 mb-4"
>
  Lerne mehr über <br />
  Dealersoft
</h1>
<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    hideToggle="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Über uns </mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="!panelOpenState">add</mat-icon>
        <mat-icon *ngIf="panelOpenState">remove</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit est, platea
      dictumst cum ultrices mollis cubilia ultricies, sapien viverra rhoncus
      tortor torquent sed ullamcorper. Morbi lacinia metus quis tincidunt mauris
      cursus laoreet, vivamus nunc malesuada cras phasellus vestibulum orci at,
      tempor sagittis primis pretium senectus nostra. Habitasse convallis platea
      egestas potenti orci quis litora nec non est, velit primis montes lectus
      ad interdum pharetra dis consequat.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState2 = true"
    (closed)="panelOpenState2 = false"
    hideToggle="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Für wen ist Dealersoft geeignet? </mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="!panelOpenState2">add</mat-icon>
        <mat-icon *ngIf="panelOpenState2">remove</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit est, platea
      dictumst cum ultrices mollis cubilia ultricies, sapien viverra rhoncus
      tortor torquent sed ullamcorper. Morbi lacinia metus quis tincidunt mauris
      cursus laoreet, vivamus nunc malesuada cras phasellus vestibulum orci at,
      tempor sagittis primis pretium senectus nostra. Habitasse convallis platea
      egestas potenti orci quis litora nec non est, velit primis montes lectus
      ad interdum pharetra dis consequat.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState3 = true"
    (closed)="panelOpenState3 = false"
    hideToggle="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Kann ich Stornoverträge schreiben? </mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="!panelOpenState3">add</mat-icon>
        <mat-icon *ngIf="panelOpenState3">remove</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit est, platea
      dictumst cum ultrices mollis cubilia ultricies, sapien viverra rhoncus
      tortor torquent sed ullamcorper. Morbi lacinia metus quis tincidunt mauris
      cursus laoreet, vivamus nunc malesuada cras phasellus vestibulum orci at,
      tempor sagittis primis pretium senectus nostra. Habitasse convallis platea
      egestas potenti orci quis litora nec non est, velit primis montes lectus
      ad interdum pharetra dis consequat.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState4 = true"
    (closed)="panelOpenState4 = false"
    hideToggle="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Kann ich von überall auf meinen Dealersoft Account zugreifen?
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="!panelOpenState4">add</mat-icon>
        <mat-icon *ngIf="panelOpenState4">remove</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit est, platea
      dictumst cum ultrices mollis cubilia ultricies, sapien viverra rhoncus
      tortor torquent sed ullamcorper. Morbi lacinia metus quis tincidunt mauris
      cursus laoreet, vivamus nunc malesuada cras phasellus vestibulum orci at,
      tempor sagittis primis pretium senectus nostra. Habitasse convallis platea
      egestas potenti orci quis litora nec non est, velit primis montes lectus
      ad interdum pharetra dis consequat.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState5 = true"
    (closed)="panelOpenState5 = false"
    hideToggle="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wie kann ich mein Passwort zurücksetzen?
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="!panelOpenState5">add</mat-icon>
        <mat-icon *ngIf="panelOpenState5">remove</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit est, platea
      dictumst cum ultrices mollis cubilia ultricies, sapien viverra rhoncus
      tortor torquent sed ullamcorper. Morbi lacinia metus quis tincidunt mauris
      cursus laoreet, vivamus nunc malesuada cras phasellus vestibulum orci at,
      tempor sagittis primis pretium senectus nostra. Habitasse convallis platea
      egestas potenti orci quis litora nec non est, velit primis montes lectus
      ad interdum pharetra dis consequat.
    </p>
  </mat-expansion-panel>
</mat-accordion>
