<h1
  class="text-center text-black font-extrabold lg:text-5xl md:text-4xl text-3xl lg:mb-8 md:mb-6 mb-4"
>
  Lerne mehr über <br />
  Dealersoft
</h1>
<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
    hideToggle="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Über uns </mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="!panelOpenState">add</mat-icon>
        <mat-icon *ngIf="panelOpenState">remove</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Die Dealersoft wurde im engen Austausch mit Autohändlern entwickelt. Dem aufwändigen Entwicklungsprozess folgte eine technische und praktische Prüfung im Alltag mehrerer Autohändler:innen. Die JESAM Consulting GmbH, der Entwickler der Dealersoft, ist ein junges und dynamisches Team von Softwareingenieur:innen, das gemeinsam mit Expert:innen aus verschiedenen Bereichen professionelle Software entwickelt. Ziel der Entwicklung ist dabei immer, mithilfe der Software kurz-, mittel- und langfristig effiziente Leistungssteigerung zu erzielen - einfach, digital und für alle zugänglich.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState2 = true"
    (closed)="panelOpenState2 = false"
    hideToggle="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Für wen ist Dealersoft geeignet? </mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="!panelOpenState2">add</mat-icon>
        <mat-icon *ngIf="panelOpenState2">remove</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Dealersoft ist die Software für ambitionierte Autohändler. Verwalten Sie ab jetzt jederzeit und überall Ihre Fahrzeuge, Kund:innen, Kaufverträge und vieles mehr!
    </p>
    <p>Dealersoft entlastet und beschleunigt alle Prozesse Ihres Autohandels - von Einkauf bis Verkauf, von Fahrzeugverwaltung bis Kaufvertrag.</p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState3 = true"
    (closed)="panelOpenState3 = false"
    hideToggle="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Welche Kaufverträge kann ich mit Dealersoft schreiben?</mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="!panelOpenState3">add</mat-icon>
        <mat-icon *ngIf="panelOpenState3">remove</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Generieren Sie mit einem Klick eine fortlaufende Rechnungsnummer und erstellen Sie Ihre PDF Rechnung und Kaufvertrag. Egal ob Netto Export, $25A, inkl MwSt oder Stornovertrag, Dealersoft ist Ihr Tool für einen schnellen, einfachen Verkaufsprozess.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState4 = true"
    (closed)="panelOpenState4 = false"
    hideToggle="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Kann ich von überall auf meinen Dealersoft Account zugreifen?
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="!panelOpenState4">add</mat-icon>
        <mat-icon *ngIf="panelOpenState4">remove</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Dealersoft ist eine Web und Mobile App basierte Software. Ihre Daten sind auf sicheren Servern gespeichert und können von Ihnen weltweit abgerufen werden.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel
    (opened)="panelOpenState5 = true"
    (closed)="panelOpenState5 = false"
    hideToggle="true"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wie kann ich mein Passwort zurücksetzen?
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon *ngIf="!panelOpenState5">add</mat-icon>
        <mat-icon *ngIf="panelOpenState5">remove</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      Mit der Passwort vergessen Funktion können Sie Ihr Passwort jederzeit zurücksetzen, diese finden Sie im Log im Bereich.
    </p>
  </mat-expansion-panel>
</mat-accordion>
