<div class="relative bg-gray-5 lg:px-14 lg:py-20 md:px-6 md:py-14 py-10">
  <div class="text-center text-base md:text-sm lg:mx-10 mx-6 text-container">
    <h2
      class="font-extrabold lg:text-5xl md:text-5xl text-3xl lg:mb-4 md:mb-3 mb-3"
    >
      Wir sind Dealersoft
    </h2>
    <p class="text-center lg:text-base text-sm">
      Die Dealersoft wurde im engen Austausch mit Autohändlern entwickelt. Dem
      aufwändigen Entwicklungsprozess folgte eine technische und praktische
      Prüfung im Alltag mehrerer Autohändler:innen. Die JESAM Consulting GmbH,
      der Entwickler der Dealersoft, ist ein junges und dynamisches Team von
      Softwareingenieur:innen, das gemeinsam mit Expert:innen aus verschiedenen
      Bereichen professionelle Software entwickelt. Ziel der Entwicklung ist
      dabei immer, mithilfe der Software kurz-, mittel- und langfristig
      effiziente Leistungssteigerung zu erzielen - einfach, digital und für alle
      zugänglich. Dealersoft ist die Software für ambitionierte Autohändler.
      Verwalten Sie ab jetzt jederzeit und überall Ihre Fahrzeuge, Kund:innen,
      Kaufverträge und vieles mehr!
    </p>
    <p class="text-center lg:text-base text-sm">
      Dealersoft entlastet und beschleunigt alle Prozesse Ihres Autohandels -
      von Einkauf bis Verkauf, von Fahrzeugverwaltung bis Kaufvertrag.
    </p>

    <div class="lg:py-6 text-center flex justify-center py-6">
      <a class="flex space-x-2 items-center"
        ><span class="lg:text-base text-sm"
          >Jetzt registrieren und 30 Tage gratis testen</span
        ><img
          src="assets/landing/uil_arrow-up-right.png"
          alt=""
          class="w-5 h-6"
      /></a>
    </div>
  </div>

  <div class="lg:py-10 md:py-8">
    <img
      src="assets/landing/imgUber.png"
      alt=""
      class="mx-auto lg:w-[90%] object-cover w-full md:block hidden"
    />
    <img
      src="assets/landing/ubermovil.png"
      alt=""
      class="mx-auto md:hidden block"
    />
  </div>
</div>
