<app-header-privado [car_buy_data]="this.datosReportes.car_buy_data" [me]="this.datosReportes.me" [imgPath]="this.datosReportes.imgPath"></app-header-privado>

<div class="pt-3 px-20">
    <!-- Contrato fecha -->
    <app-contrato-fecha-compra [car_buy_data]="this.datosReportes.car_buy_data" [me]="this.datosReportes.me"></app-contrato-fecha-compra>
    <p class="flex  mt-4 text-details">
       Unter Anerkennung allgemeiner Geschäftsbedingungen kauft die {{this.datosReportes.me?.company_name}} folgendes Fahrzeug:
    </p>

    <div class="mt-4 ">
        <app-car-details-compra [car_info]="this.datosReportes.car_info"
         [car_buy_data]="this.datosReportes.car_buy_data"></app-car-details-compra>
    </div>

    <!-- Precio neto -->
    <div class="mt-8 ">
        <app-precio-compra [car_buy_data]="this.datosReportes.car_buy_data"></app-precio-compra>
    </div>

    <p class=" mt-4 text-details">
        Das Fahrzeug wurde vom Käufer ausgiebig besichtigt und Probe gefahren. Gerichtsstand ist {{this.datosReportes.me?.city}}
    </p>

    <app-firma></app-firma>


</div>

<app-footer-empresa [car_buy_data]="this.datosReportes.car_buy_data" [me]="this.datosReportes.me"></app-footer-empresa>