<div class="relative">
  <div class="text-center w-full absolute lg:bottom-16">
    <h1 class="lg:text-5xl lg:mb-4">Unsere Software</h1>
    <h1 class="lg:text-5xl font-bold">revolutioniert Ihren Autohandel.</h1>
  </div>
  <div class="flex w-full justify-center items-end px-14">
    <img
      src="assets/landing/bgmain.png"
      alt=""
      class="object-cover object-center"
    />
  </div>
  <div class="text-center lg:mb-20">
    <p>
      Mit Dealersoft können Sie Prozesse erleichtern, Abläufe organisieren
      <br />
      und Ihr Geschäft ganz nach Ihren Wünschen gestalten.
    </p>
  </div>
</div>
