<div
  class="bg-gray-5 w-full grid lg:grid-cols-3 items-center justify-items-center lg:py-20 lg:px-14"
>
  <div class="w-1/2 ml-auto">
    <h2 class="overflow-ellipsis font-extrabold lg:text-4xl flex lg:mb-4">
      Autohandel <br />
      ganz <br />
      einfach.
    </h2>
    <p>...von Einkauf bis Verkauf, von Fahrzeugverwaltung bis Kaufvertrag.</p>
  </div>
  <div>
    <img src="assets/landing/main2.png" alt="" class="lg:w-72" />
  </div>
  <div class="text-lg text-gray-20 flex flex-col space-y-5">
    <div>
      <h3>Verwalten Sie ab jetzt jederzeit und überall</h3>
    </div>
    <div class="flex flex-col space-y-3">
      <h3>Dealersoft Premium</h3>
      <p>
        Vom Anlegen eines neuen Fahrzeugprofils bis zum Abschluss des
        Kaufvertrags: Dealersoft begleitet Sie im gesamten Verkaufsprozess.
      </p>

      <a class="text-blue-10 underline underline-blue-10">
        Jetzt 30 Tage testen
      </a>
    </div>
    <div>
      <h3>Lassen Sie Ihren Verkauf durchstarten!</h3>
    </div>
  </div>
</div>
