<!--------------- Mayor  a SM --------------------------->
<div class="hidden md:block main-color">
    <div class=" grid md:grid-cols-2 gap-5 m-20 ">


        <div>
            <app-maintexto> </app-maintexto>
            <div class="mt-5">
                <app-mainbutton></app-mainbutton>
            </div>

        </div>

        <div class="flex justify-self-end" >
            <app-mainimg></app-mainimg>

        </div>




    </div>
</div>

<!--------------- Menor a SM ------------------------>
<div class="md:hidden main-color">
    <div class="  grid md:grid-cols-2 gap-5 m-20">
        <div class="">
            <app-mainimg></app-mainimg>
        </div>


        <div class="fuentes-titulo ">
            <app-maintexto> </app-maintexto>
            <div class="mt-5">
                <app-mainbutton></app-mainbutton>
            </div>
        </div>
    </div>