<div class="relative bg-gray-5 lg:px-14 lg:py-20 flex justify-center">
  <div class="text-center text-base absolute mx-10 text-container">
    <h2 class="font-bold lg:text-5xl lg:mb-4">Wir sind Dealersoft</h2>
    <p class="text-center">
      Die Dealersoft wurde im engen Austausch mit Autohändlern entwickelt. Dem
      aufwändigen Entwicklungsprozess folgte eine technische und praktische
      Prüfung im Alltag mehrerer Autohändler:innen. Die JESAM Consulting GmbH,
      der Entwickler der Dealersoft, ist ein junges und dynamisches Team von
      Softwareingenieur:innen, das gemeinsam mit Expert:innen aus verschiedenen
      Bereichen professionelle Software entwickelt. Ziel der Entwicklung ist
      dabei immer, mithilfe der Software kurz-, mittel- und langfristig
      effiziente Leistungssteigerung zu erzielen - einfach, digital und für alle
      zugänglich. Dealersoft ist die Software für ambitionierte Autohändler.
      Verwalten Sie ab jetzt jederzeit und überall Ihre Fahrzeuge, Kund:innen,
      Kaufverträge und vieles mehr!
    </p>
    <p>
      Dealersoft entlastet und beschleunigt alle Prozesse Ihres Autohandels -
      von Einkauf bis Verkauf, von Fahrzeugverwaltung bis Kaufvertrag.
    </p>
    <div class="flex justify-center">
      <a href="/" class="flex lg:mt-6">
        <span>Jetzt registrieren und 30 Tage gratis testen</span>
        <img src="assets/landing/uil_arrow-up-right.png" alt="" class="w-7" />
      </a>
    </div>
  </div>
  <div class="mx-20">
    <img
      src="assets/landing/uber.png"
      alt=""
      class="object-cover object-center"
    />
  </div>
</div>
