
  <app-header-empresa [car_buy_data]="car_buy_data" [me]="me" [imgPath]="imgPath"></app-header-empresa>



<div class="pt-3 px-20">


  <!-- Contrato fecha -->
  <app-contrato-fecha [car_buy_data]="car_buy_data" [me]="me"></app-contrato-fecha>

  <p class="flex justify-start mt-4 text-details mb-4">
    XXUnter Anerkennung allgemeiner Geschäftsbedingungen kauft die {{me?.company_name}} folgendes Fahrzeug:
  </p>

  <!-- CAR Details -->

  <app-car-details [car_buy_data]="car_buy_data" [car_info]="car_info"></app-car-details>



  <!-- Precio neto -->
  <app-precio-a25 [car_buy_data]="car_buy_data"></app-precio-a25>


  <div class="text-details flex justify-center mt-4">
    Das Fahrzeug wurde vom Käufer ausgiebig besichtigt und Probe gefahren.

  </div>

  <div class="text-details flex justify-center ">

    Gerichtsstand ist {{me?.city}}.
  </div>

  <!-- Firma -->
  <app-firma></app-firma>


</div>



<app-footer-empresa [car_buy_data]="car_buy_data"  [me]="me"></app-footer-empresa>



<app-second-page [empresa]="true" [car_buy_data]="car_buy_data"  [car_info]="car_info" [me]="me" [imgPath]="imgPath"></app-second-page>