<div class="w-full" id="login-register-div">
  <mat-tab-group
    mat-align-tabs="center"
    [selectedIndex]="selectedTab"
    animationDuration="100ms"
    class="lg:mt-8 md:mt-0 flex justify-center"
    id="login-register"
  >
    <mat-tab label="Registrieren" class="text-white md:text-lg">
      <div class="lg:mt-8 md:mt-1 p-5">
        <app-landing-register></app-landing-register>
      </div>
    </mat-tab>
    <mat-tab label="Anmelden" class="text-white text-lg">
      <div class="lg:mt-8 md:mt-1 p-5">
        <app-landing-login></app-landing-login>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
