/* Degradado */
.fondo {
    background: linear-gradient( 180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.01) 9.91% );
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.16);
    border-radius: 32px;
}