<div class="card shadow-lg bg-white m-0.5 sm:m-5 mb-8">
  <div class="card-body">
    <h1 class="card-title text-2xl">Neue Rechnung</h1>
    <mat-divider></mat-divider>
    <form (ngSubmit)="submit()" [formGroup]="newInvoiceForm" >
      <div class="divider font-bold font-montserrat">Allgemeine Daten</div>
      <div class="grid grid-cols-2 gap-x-8 gap-y-1 w-full xl:w-9/12 my-3 ">

        <mat-form-field appearance="outline" class="col-start-1 col-span-2 lg:col-span-1">
          <mat-label class="font-montserrat">Rechnungs Nr.</mat-label>
          <input formControlName="invoice_number" matInput min="0" required type="number" class="font-montserrat">
          <mat-error *ngIf="hasRequiredError('invoice_number')">
            <b>Rechnungs Nr.</b> wird benötigt
          </mat-error>
        </mat-form-field>

        <div class="col-span-1 col-start-2 pt-2">
          <!-- <mat-label class="btn btn-ghost text-gray-5000 drawer-button 	 " (click)="generateInvoice_Number()" [disabled]="boton_salvar_disabled">
            <mat-icon class="text-black">gavel</mat-icon>

          </mat-label> -->

          <button mat-icon-button [disabled]="boton_salvar_disabled" class="text-gray-5000 drawer-button"
            (click)="generateInvoice_Number()" type="button">
            <mat-icon class="text-black">gavel</mat-icon>
          </button>

        </div>

        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <mat-label class="font-montserrat">Rechnungs Titel</mat-label>
          <input formControlName="title" matInput required class="font-montserrat">
          <mat-error *ngIf="hasRequiredError('title')">
            <b>Rechnungs Titel</b> wird benötigt
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <mat-label class="font-montserrat">Beschreibung</mat-label>
          <input formControlName="description" matInput required class="font-montserrat">
          <mat-error *ngIf="hasRequiredError('description')">
            <b>Beschreibung</b> wird benötigt
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <mat-label class="font-montserrat">Rechnungsdatum</mat-label>
          <input [matDatepicker]="pickerDate" formControlName="date" matInput required class="font-montserrat">
          <mat-error *ngIf="hasRequiredError('date')">
            <b>Rechnungsdatum</b> wird benötigt
          </mat-error>
          <mat-datepicker-toggle [for]="pickerDate" matSuffix class="font-montserrat"></mat-datepicker-toggle>
          <mat-datepicker #pickerDate class="font-montserrat"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <mat-label class="font-montserrat">Lieferdatum</mat-label>
          <input [matDatepicker]="pickerDeliveryDate" formControlName="delivery_date" matInput required class="font-montserrat">
          <mat-error *ngIf="hasRequiredError('delivery_date')">
            <b>Lieferdatum</b> wird benötigt
          </mat-error>
          <mat-datepicker-toggle [for]="pickerDeliveryDate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #pickerDeliveryDate></mat-datepicker>
        </mat-form-field>

        <!-- Clientes -->
        <mat-form-field appearance="outline" class="col-span-2 lg:col-span-1">
          <mat-label class="font-montserrat">Kunde</mat-label>
          <input #autoComplete [matAutocomplete]="auto" formControlName="client" matInput required type="text" class="font-montserrat">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" autoActiveFirstOption>
          
            <mat-option *ngFor="let option of filteredOptions" [value]="option.id" class="font-montserrat">    

              <ng-container *ngIf="option.attributes?.company_name">
                {{option.attributes?.company_name}}
              </ng-container>
              <ng-container *ngIf="!option.attributes?.company_name">
                {{option.attributes?.first_name}} {{option.attributes?.last_name}}
              </ng-container>    

            </mat-option>

          </mat-autocomplete>
       

          <button (click)="addCustomer($event)" class="tooltip tooltip-bottom" data-tip="Neuen Kunden hinzufügen"
            mat-icon-button matSuffix type="button" [disabled]="boton_salvar_disabled">
            <mat-icon>add</mat-icon>
          </button>
          <mat-error *ngIf="hasRequiredError('client')">
            <b>Kunde</b> wird benötigt
          </mat-error>
        </mat-form-field>


        <div class="col-span-1 flex items-center justify-start gap-x-3 my-1 pl-3">
          <div class="flex gap-x-3">
            <input checked="checked" class="toggle" formControlName="a25" id="a25" type="checkbox">
            <label class="cursor-pointer font-montserrat text-gray-500" for="a25">§25a</label>
          </div>
          <div class="flex gap-x-3">
            <input checked="checked" class="toggle" formControlName="iva" id="iva" type="checkbox">
            <label class="cursor-pointer font-montserrat text-gray-500" for="iva">MwSt.</label>
          </div>
        </div>
      </div>

      <div class="divider font-bold font-montserrat">
        <span class="mr-3">Position hinzufügen</span>
        <button (click)="addArticle()" class="tooltip tooltip-bottom" data-tip="Add Article" mat-icon-button
          type="button" [disabled]="boton_salvar_disabled">
          <mat-icon class="add-course-btn">add</mat-icon>
        </button>
      </div>

      <div class="grid grid-cols-2 gap-y-1 w-full xl:w-9/12 my-3">
        <ng-container formArrayName="places">

          <ng-container *ngFor="let form of articles.controls; let i = index">

            <div [formGroupName]="i" class="col-span-2 grid grid-cols-5 gap-x-4 gap-y-1">

              <mat-form-field appearance="outline" class="col-span-5 ">
                <mat-label class="font-montserrat">Artikela</mat-label>
                <!-- <input formControlName="article" matInput required type="text"> -->
                <textarea matInput placeholder="Bemerkungen" formControlName="article" rows="2" maxlength="240"
                  (keydown)="keydown($event)" class="font-montserrat"> </textarea>
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-5 lg:col-span-1">
                <mat-label class="font-montserrat">Anzahl</mat-label>
                <input formControlName="quantity" matInput min="1" required type="number" class="font-montserrat">
              </mat-form-field>

              <mat-form-field appearance="outline" class="col-span-5 lg:col-span-3">
                <mat-label class="font-montserrat">Einzelpreis</mat-label>
                <input formControlName="unit_price" matInput min="0" required type="number" class="font-montserrat">
              </mat-form-field>

              <div class="col-span-1 flex items-center justify-start">
                <button class="tooltip tooltip-bottom relative -top-2" data-tip="Remove Article" mat-icon-button
                  type="button" [disabled]="boton_salvar_disabled" (click)="deleteArticle(i)">
                  <mat-icon>
                    delete_forever
                  </mat-icon>
                </button>
              </div>

            </div>

          </ng-container>

        </ng-container>
      </div>

      <mat-divider></mat-divider>

      <div class="grid grid-cols-4 w-full  gap-x-2 mt-3">



        <button class="btn btn-primary w-40 col-start-1" (click)="generatePdf()" type="button"
          *ngIf="mostrar_boton_imprimir">
          <span class="tracking-wide">Rechnung drucken</span>
        </button>



        <!-- Rechnung stornieren -->
        <button class="btn btn-primary w-41 col-start-2 " (click)="cancelInvoice()" [disabled]="!boton_salvar_disabled"
          *ngIf="mostrar_boton_imprimir"  type="button">
          <span class="tracking-wide">Storno Rechnung erstellen</span>
        </button>



        <button class="btn btn-primary w-40 col-start-4 " type="submit" [disabled]="boton_salvar_disabled">
          <span class="tracking-wide">Rechnung erstellen</span>
        </button>






      </div>


    </form>
  </div>
</div>