<app-header-privado [car_buy_data]="car_buy_data" [me]="me" [imgPath]="imgPath"></app-header-privado>

<div class="pt-3 px-20">

    <!-- Contrato fecha -->
    <app-contrato-fecha [car_buy_data]="car_buy_data" [me]="me"></app-contrato-fecha>

    <p class="flex justify-start mt-4 text-sm">
        Unter Anerkennung allgemeiner Geschäftsbedingungen kauft die {{me?.company_name}} folgendes Fahrzeug:
    </p>

    <!-- CAR Details -->
    <app-car-details [car_buy_data]="car_buy_data" [car_info]="car_info"></app-car-details>

    <!-- Precio neto -->
    <app-precio-a25 [car_buy_data]="car_buy_data"></app-precio-a25>


    <div class="text-sm-nospace flex justify-center mt-4 mx-2">
        Der Verkäufer weist auf die anhängenden allgemeinen Geschäftsbedingungen hin. Der Käufer hat von ihrem Inhalt enntnis genommen und ist mit ihrer Geltung einverstanden. Das Fahrzeug wurde vom Käufer ausgiebig besichtigt und obe gefahren und er erkennt an, dass der Kaufgegenstand am Liefertag keine Mängel aufweist und in einem technisch nd optisch einwandfreiem Zustand geliefert worden ist. Das Fahrzeug wird unter Ausschluss jeglicher Gewährleistung verkauft. Gerichtsstand ist {{me?.city}}.
    </div>

    <!-- Firma -->
    <app-firma></app-firma>

</div>

<app-footer-empresa [car_buy_data]="car_buy_data" [me]="me"></app-footer-empresa>

<app-second-page [empresa]="false" [car_buy_data]="car_buy_data" [car_info]="car_info" [me]="me" [imgPath]="imgPath"></app-second-page>