<div id="home" class="relative lg:min-h-[90vh] flex flex-col md:pt-16 pt-10 items-center w-full">

  
  <div class="hero__animation_dots-wrapper__item-2 z-10 absolute md:top-8 top-12 fadeRight" id="elipsi">
    <div class="hero__animation_dots-wrapper__item-2__top">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="hero__animation_dots-wrapper__item-2__bottom">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
  </div>
  <div class="hero__animation_dots-wrapper__item-1  z-10 md:top-8 top-16 md:right-[20%] right-[0%]" id="elipsi1">
    <div class="hero__animation_dots-wrapper__item-1__circle flex">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
  </div>

  <img src="assets/landing/bgmain.png" alt="" class="pipUp lg:w-[5rem] md:w-[4.5rem] w-[4rem]">
  <div
    class="text-center w-full text-black md:mt-8 mt-6" 
  >
    <h1 class="lg:text-5xl md:text-4xl text-3xl lg:mb-5 hero__content-wrapper__title">Unsere Software</h1>
    <h1 class="lg:text-5xl md:text-4xl text-3xl font-bold hero__content-wrapper__title2">
      revolutioniert Ihren Autohandel.
    </h1>
  </div>
  <div
    id="text_banner1"
    class="relative hero__content-wrapper__description text-center text-base mb-10 mt-6 px-6"
  >
    <p>
      Mit Dealersoft können Sie Prozesse erleichtern, Abläufe organisieren
      <br />
      und Ihr Geschäft ganz nach Ihren Wünschen gestalten.
    </p>
    <div class="hero__animation_dots-wrapper__item-1  z-10 absolute  md:bottom-7 bottom-0 md:-left-[18rem]" id="elipsi2">
      <div class="hero__animation_dots-wrapper__item-1__circle flex">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>
    </div>
    
  </div>

  <div class="md:block hidden hero__animation_dots-wrapper__item-4 absolute bottom-[30%] -z-10 md:right-[15%] fadeLeft" id="elipsi3">
    <div class="hero__animation_dots-wrapper__item-4__circle flex">
        <div></div>
        <div></div>
        <div></div>
    </div>
  </div>  
</div>
