<div id="home" class="relative">
  <div
    class="hero__content-wrapper__title text-center w-full text-black md:absolute md:block hidden lg:bottom-16 md:bottom-14 z-20" 
  >
    <h1 class="lg:text-5xl md:text-4xl text-3xl lg:mb-4">Unsere Software</h1>
    <h1 class="lg:text-5xl md:text-4xl text-3xl font-bold">
      revolutioniert Ihren Autohandel.
    </h1>
  </div>
  <div class="md:flex hidden w-full justify-center items-end relative">
    <img src="assets/landing/elip1.png" alt="" class=" z-10 absolute top-0 left-[20%] w-[69px]" id="elipsi">
    <img src="assets/landing/elip2.png" alt="" class=" z-10 absolute w-[40px] top-8 right-[20%]" id="elipsi1">
    
    <img
      id="main_text"
      src="assets/landing/1.main.png"
      alt=""
      class="w-[40%] mx-auto -z-10"
    />
    <img src="assets/landing/elip2.png" alt="" class=" z-10 absolute w-[60px] bottom-32 left-[5%]" id="elipsi2">
    <img src="assets/landing/elip3.png" alt="" class="  absolute w-[34px] bottom-20 right-[23%] -z-10" id="elipsi3">
  </div>
  <div class="md:hidden block w-full px-4 my-5">
    <img
      src="assets/landing/bannermovil.png"
      alt=""
      class="object-cover object-center mx-auto w-[90%]"
    />
  </div>
  <div class="text-center w-full md:hidden block text-black">
    <h1 class="text-3xl mb-1">Unsere Software</h1>
    <h1 class="text-3xl font-bold">revolutioniert Ihren Autohandel.</h1>
  </div>
  <div
    class="hero__content-wrapper__description text-center lg:mb-20 md:mb-14 text-base mb-10 mt-2 px-6"
  >
    <p>
      Mit Dealersoft können Sie Prozesse erleichtern, Abläufe organisieren
      <br />
      und Ihr Geschäft ganz nach Ihren Wünschen gestalten.
    </p>
  </div>
</div>
