<div id="home" class="relative lg:min-h-[90vh] flex flex-col pt-12 items-center w-full">

  <img src="assets/landing/elip1.png" alt="" class=" z-10 absolute md:top-8 top-12 md:left-[20%] left-[10%] w-[69px]" id="elipsi">
  <img src="assets/landing/elip2.png" alt="" class=" z-10 absolute w-[40px] md:top-8 top-16 md:right-[20%] right-[20%]" id="elipsi1">
  <img src="assets/landing/bgmain.png" alt="" class="lg:w-[5rem] md:w-[4.5rem] w-[4rem]">
  <div
    class="text-center w-full text-black md:mt-8 mt-6" 
  >
    <h1 class="lg:text-5xl md:text-4xl text-3xl lg:mb-4 hero__content-wrapper__title">Unsere Software</h1>
    <h1 class="lg:text-5xl md:text-4xl text-3xl font-bold hero__content-wrapper__title2">
      revolutioniert Ihren Autohandel.
    </h1>
  </div>
  <div
    class="relative hero__content-wrapper__description text-center text-base mb-10 mt-2 px-6"
  >
  
    <p>
      Mit Dealersoft können Sie Prozesse erleichtern, Abläufe organisieren
      <br />
      und Ihr Geschäft ganz nach Ihren Wünschen gestalten.
    </p>
    <img src="assets/landing/elip2.png" alt="" class=" z-10 absolute w-[60px]  md:bottom-7 bottom-0 md:-left-[18rem]" id="elipsi2">
  </div>
  <img src="assets/landing/elip3.png" alt="" class="absolute w-[34px]  bottom-[30%] -z-10 md:right-[15%]" id="elipsi3">
  
</div>
