<div id="testimonial" class="relative overflow-x-hidden">
  <app-navbar></app-navbar>
  <div class="lg:px-24 lg:py-10 md:px-10 md:py-8 px-6 py-6">
    <h1 class="lg:text-5xl text-3xl font-black">Kundenstimmen</h1>
    <div
      class="lg:my-10 md:my-8 my-6 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 md:space-x-6 space-x-0"
    >
      <div class="flex flex-wrap space-y-7">
        <div
          class="bg-[#f9f8fd] lg:px-[50px] lg:py-[40px] px-5 py-4"
          *ngFor="let card of testimonialCol1"
        >
          <p
            *ngFor="let parr of card.text; index as i"
            [ngClass]="{ 'mt-2': i > 1 }"
          >
            {{ parr }}
          </p>
          <p *ngIf="card.author != ''" class="mt-2 font-bold">
            {{ card.author }}
          </p>
          <p
            *ngIf="card.authorItalic != ''"
            class="mt-2 italic font-semibold text-[10px]"
          >
            {{ card.authorItalic }}
          </p>
        </div>
      </div>
      <div class="flex flex-wrap space-y-7">
        <div
          class="bg-[#f9f8fd] lg:px-[50px] lg:py-[40px] px-5 py-4"
          *ngFor="let card of testimonialCol2"
        >
          <p
            *ngFor="let parr of card.text; index as i"
            [ngClass]="{ 'mt-2': i < 1 }"
          >
            {{ parr }}
          </p>
          <p *ngIf="card.author != ''" class="mt-2 font-bold">
            {{ card.author }}
          </p>
          <p
            *ngIf="card.authorItalic != ''"
            class="mt-2 italic font-semibold text-[10px]"
          >
            {{ card.authorItalic }}
          </p>
        </div>
      </div>
      <div
        class="lg:flex lg:flex-wrap space-y-7 md:hidden flex flex-wrap lg:cols-span-1"
      >
        <div
          class="bg-[#f9f8fd] lg:px-[50px] lg:py-[40px] px-5 py-4"
          *ngFor="let card of testimonialCol3"
        >
          <p
            *ngFor="let parr of card.text; index as i"
            [ngClass]="{ 'mt-2': i > 1 }"
          >
            {{ parr }}
          </p>
          <p *ngIf="card.author != ''" class="mt-2 font-bold">
            {{ card.author }}
          </p>
          <p
            *ngIf="card.authorItalic != ''"
            class="mt-2 italic font-semibold text-[10px]"
          >
            {{ card.authorItalic }}
          </p>
        </div>
      </div>
    </div>

    <div
      class="md:mt-6 lg:hidden md:space-y-7 md:grid md:grid-cols-2 md:gap-x-6 hidden md:col-span-2"
    >
      <div
        class="bg-[#f9f8fd] lg:px-[50px] lg:py-[40px] px-5 py-4"
        *ngFor="let card of testimonialCol3"
      >
        <p
          *ngFor="let parr of card.text; index as i"
          [ngClass]="{ 'mt-2': i > 1 }"
        >
          {{ parr }}
        </p>
        <p *ngIf="card.author != ''" class="mt-2 font-bold">
          {{ card.author }}
        </p>
        <p
          *ngIf="card.authorItalic != ''"
          class="mt-2 italic font-semibold text-[10px]"
        >
          {{ card.authorItalic }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="lg:w-[70%] mx-auto px-6">
  <app-footer></app-footer>
</div>
