@font-face {
  font-family: "OpenSans-Regular";
  src: local("OpenSans-Regular"),
    url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: local("OpenSans-ExtraBold"),
    url("/assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

#testimonial {
  font-family: "OpenSans", sans-serif;
}
