<div class="flex  justify-between items-center pb-4">
  <h1 mat-dialog-title>
    Rechnung
  </h1>
  <button (click)="close()" class="btn btn-ghost btn-sm">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <ul class="my-3 px-1" style="max-height: 320px">
    <li class="font-montserratpy-1">
      <b>Rechnungs Nr.:</b> <br class="sm:hidden">
      {{data.attributes?.invoice_number}}
    </li>
    <li class="font-montserratpy-1">
      <b>Rechnungs Titel:</b> <br class="sm:hidden">
      {{data.attributes?.title}}
    </li>
    <li class="font-montserratpy-1">
      <b>Beschreibung:</b> <br class="sm:hidden">
      {{data.attributes?.description}}
    </li>
    <li class="font-montserratpy-1">
      <b>Rechnungsdatum:</b> <br class="sm:hidden">
      {{data.attributes?.date | date}}
    </li>
    <li class="font-montserratpy-1">
      <b>Lieferdatum:</b> <br class="sm:hidden">
      {{data.attributes?.delivery_date | date}}
    </li>
    <li class="font-montserratpy-1">
      <b>Kunde:</b> <br class="sm:hidden">
      {{client}}
    </li>
    <li class="font-montserratpy-1 flex items-center">
      <b class="mr-3">MwSt.:</b>
      <mat-icon>{{data.attributes.iva ? 'check' : 'block'}}</mat-icon>
    </li>
    <li class="font-montserratpy-1 flex items-center">
      <b class="mr-3">a25:</b>
      <mat-icon>{{data.attributes.a25 ? 'check' : 'block'}}</mat-icon>
    </li>
    <li class="pt-1 pb-3">
      <b>Places:</b>
      <ul class=" pl-8" style="list-style: circle">
        <li *ngFor="let place of data.attributes.places">
          <span>
            <b>Artikel: </b> {{place.article}},
          </span>
          <span class="ml-1">
            <b>Anzahl</b> {{place.quantity}},
          </span>
          <span class="ml-1">
            <b>Einzelpreis</b> {{place.unit_price | currency}},
          </span>
        </li>
      </ul>
    </li>
  </ul>
</div>
<mat-divider></mat-divider>
