<mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>

<div class="shadow bg-base-200 drawer drawer-mobile h-screen">
  <input class="drawer-toggle" id="my-drawer-2" type="checkbox">

  <div class="flex flex-col items-center justify-start drawer-content">
    <div class="flex navbar shadow-lg bg-base-100 text-neutral-content  w-full sticky top-0 z-10 ">


       <div  class="px-2 mx-2 navbar-start w-auto  ">
        <div class="lg:hidden">
          <label class="btn btn-ghost text-gray-5000 drawer-button" for="my-drawer-2">
            <mat-icon class="text-black">menu</mat-icon>
          </label>
        </div>

        <button (click)="toggleSide()" *ngIf="showSide"
                class="hidden lg:block btn btn-ghost text-gray-5000 drawer-button relative -left-5">
          <mat-icon class="text-black">menu</mat-icon>
        </button>
        <div class="flex flex-row justify-center items-center px-2 mx-2 {{showSide ? '' : 'lg:hidden'}} pl-8 sm:pl-0">
          <a routerLink="/admin">
            <img [style.width]="showSide ? '92px' : '75px'" alt="Dealersoft.de Black brand"
                 src="assets/brand_logo/Dealersoft.de-black.svg" style="height: 48px">
          </a>
        </div>
      </div>

     

      <div class="hidden   navbar-start lg:flex">
        <div class="font-montserrat tracking-widest  font-bold text-2xl text-gray-900">{{titlePage}}</div>
      </div>  

      <div class="navbar-end hidden lg:flex " >
        <button class="" [matMenuTriggerFor]="menu" id="button_menu">
        <div *ngIf="isAuth" class="flex items-center  rounded-full border-2" >

          <img *ngIf="showLogo else defaultImg" [src]="imgPath | saveDom" alt="user_img" class="rounded-full ml-3 mr-3 py-1"
          style="height:auto;width:auto;max-height:50px;max-width: 50px;"/>
          <ng-template #defaultImg>
            <img alt="user_img_default" src="assets/user-male-circle.png"/>
          </ng-template>
          
          <span class="pr-0 py-2 font-montserrat  text-gray-900" >
            {{authUser?.first_name}} {{authUser?.last_name}} 
          </span>
          <!-- <mat-icon class="text-3xl ml-3 relative" style="top: -6px">keyboard_arrow_down</mat-icon>           -->
          
          <mat-icon class="text-3xl text-black ml-0 mr-4 relative" style="top: -6px">keyboard_arrow_down</mat-icon> 
        </div>
      </button>
      </div>

    </div>
<!-- Menu boton superior derecho -->
    <mat-menu #menu="matMenu" class="ml-4  w-40 border" >
      <ul>
        <li>
          

          <a (click)="abrirProfile()" class="flex justify-start items-center hover:font-bold pt-2 cursor-pointer" id="logout">
          
           <img class="ml-2 " alt="user_img_default" src="assets/menu_icons/Recurso.svg" style="height: 20px"/>
            <span class="pt-3 px-2 relative" style="top: -5px">Profil</span>
          </a>


        </li>
        <li>
      <a (click)="logOut()" class="flex justify-start items-center hover:font-bold pt-2 cursor-pointer" id="logout">
        <!-- <mat-icon class="text-3xl ml-3 relative" style="top: -6px">logout</mat-icon> -->
        <img  alt="Logout"  class="ml-2"  src="assets/menu_icons/Logout.svg" style="height: 20px">
        <span class="pt-3 px-2 relative" style="top: -5px">Logout </span>
      </a>
    </li>

    </ul>
  
    </mat-menu>
    

    <main class="w-full z-0 px-8 pt-6 pb-5">
      <router-outlet></router-outlet>
    </main>

  </div>

  <div class="drawer-side">

    
    <label class="drawer-overlay" for="my-drawer-2"></label>
    <ul #drawerSide
        class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content h-full animate__animated lg:animate__fadeInLeft">
      <li class="border-b-2 border-gray-200 mb-5 hidden lg:flex lg:flex-row lg:justify-center lg:items-center">
        <img (click)="toAdmin()" alt="Dealersoft.de Black brand" class="cursor-pointer h-[140px] w-[230px]"
             src="assets/brand_logo/Dealersoft.de-black.svg">
        <button (click)="toggleSide()" class="hidden lg:block btn btn-ghost text-gray-5000 drawer-button"
                style="position: absolute;top: 10px;right: 10px;">
          <mat-icon class="text-black">close</mat-icon>
        </button>
      </li>

      <!-- <div (click)="toStripePayment()" class="lg:hidden  flex flex-col justify-center items-center"> -->
        <li   class="w-1/4  ml-3 lg:hidden">    
          <img  class="" alt="Dealersoft.de Black brand"  src="assets/brand_logo/Dealersoft.de-black.svg" style="height: 38px">
        </li>
      <!-- </div>   -->

      <!-- Menu lateral -->

      <li *ngFor="let link of links" class="my-0.5">
        <ng-container *ngIf="link.type === 'link'">      
          <a [routerLink]="link.url" [ngClass]="{'mt-2' : link.up_space}" class="flex justify-start items-center hover:font-bold" routerLinkActive="link-active">
            <!-- <a [routerLink]="link.url" [ngClass]="{'  border-t-2 border-gray-200' : link.up_space}" class="flex justify-start items-center hover:font-bold" routerLinkActive="link-active"> -->
             <ng-container *ngIf="link.img!='';else icono">
                 <img class="mr-3 relative" alt="{{link.label}}" src="assets/menu_icons/{{link.img}}" style="height: 20px">
             </ng-container>

            <ng-template #icono>
              <mat-icon class="text-2xl mr-2 relative" style="top: -6px; left: -2px">{{link.icon}}</mat-icon> 
            </ng-template>
               <span class="" >{{link.label}}</span> 
          </a>
        </ng-container>

        <ng-container *ngIf="link.type === 'button'">
          <a (click)="logOut()" [ngClass]="{'mt-2' : link.up_space}" class="flex justify-start items-center hover:font-bold" id="logout">
            <ng-container *ngIf="link.img!='';else icono">
              <img class="mr-3 relative" alt="{{link.label}}" src="assets/menu_icons/{{link.img}}" style="height: 20px; left:-5px">
            </ng-container>

            <ng-template #icono>
              <mat-icon class="text-2xl mr-2 relative" style="top: -6px">{{link.icon}}</mat-icon> 
            </ng-template>
         
            <span class="pt-3 relative" style="top: -4px; left:-5px">{{link.label}}</span>
          </a>
        </ng-container>
      </li>



      <!-- Icono de Stripe -->
      <li *ngIf="authUser?.active_until" class="">

 
        
        <!-- Vista Mobil -->
        <div (click)="toStripePayment()" class="lg:hidden  flex flex-col justify-center items-center">
          <!-- <div   class="w-1/4  cursor-pointer tooltip tooltip-top" data-tip="Abonnement abschließen">    
            <img  class="" alt="Dealersoft.de Black brand"  src="assets/brand_logo/Dealersoft.de-black.svg" style="height: 38px">
          </div> -->

            <div class="  w-[80%] h-14 shadow ml-7 mr-5 ">                      
              <div  class=" {{days > 0 ? 'bg-[#8591AA]' : 'bg-orange-600'}} h-full w-full rounded px-2 ">
                <div class="font-montserrat-trial text-white p-0 m-0 flex flex-col py-1 items-start">
                  <div>verbleibende Testphase</div>
                  <div class="ml-0.5 bg-transparent py-0.5 px-1 rounded text-gray-50">
                    {{days + ' Tage'}}
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- Vista PC -->
        <div (click)="toStripePayment()" class="hidden lg:block">
       
          <div class="flex  justify-center rounded-lg  w-[80%] h-14 shadow mx-5 mt-2">            
            <div (click)="toStripePayment()"  class="w-1/4 bg-[#E8E9EB] h-full rounded-l-lg flex items-center justify-center cursor-pointer tooltip tooltip-bottom" data-tip="Abonnement abschließen">    
              <img  alt="Dealersoft.de Black brand"  src="assets/brand_logo/Dealersoft.de-black.svg" style="height: 38px">
            </div>
            <div  class="w-3/4 {{days > 0 ? 'bg-[#8591AA]' : 'bg-orange-600'}} h-full rounded-r-lg flex flex-row justify-center items-center pl-2 py-1">
              <p class="font-montserrat-trial text-white p-0 m-0">
                <span>verbleibende Testphase</span>
                <span class="ml-0.5 bg-transparent py-0.5 px-1 rounded text-gray-50">
                  {{days + ' Tage'}}
                </span>
              </p>
            </div>
          </div>
      </div>




      </li>
    </ul>


  </div>

</div>
