.link-active {
  @apply font-bold;
   background-color:#E8E9EB;
}

#logout {
  @apply ml-1
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 350ms;
}


#button_menu:hover {
  background-color: rgb(255, 255, 255)!important;
}


.font-montserrat-trial{
  font-size: 0.9rem;
  font-family: "Montserrat-Regular"!important ;
}