<div class="lg:py-20">
  <div class="flex justify-center">
    <img src="assets/landing/funktionen.png" alt="" class="lg:w-56" />
  </div>
  <h2 class="lg:text-5xl font-bold text-center lg:mb-4">
    Funtionen von <br />
    Dealersoft
  </h2>

  <p class="text-lg text-center">
    Dealersoft entlastet und beschleunigt alle Prozesse Ihres Autohandels
    <br />
    - von Einkauf bis Verkauf, von Fahrzeugverwaltung bis Kaufvertrag.
  </p>

  <div class="lg:py-20" *ngFor="let data of cards">
    <div
      [ngClass]="data.position ? 'flex-row-reverse' : 'flex-row'"
      class="w-full flex justify-center items-center"
    >
      <div class="w-1/2 flex justify-center text-lg">
        <div class="lg:max-w-xl">
          <h2 class="lg:text-5xl font-bold lg:mb-4">{{ data.title }}</h2>

          <p *ngFor="let el of data.text">{{ el }}</p>

          <a href="{{data.link}" class="flex lg:mt-6">
            <span>{{ data.nameLink }}</span>
            <img
              src="assets/landing/uil_arrow-up-right.png"
              alt=""
              class="w-7"
            />
          </a>
        </div>
      </div>

      <img
        src="assets/landing/{{ data.path }}"
        alt=""
        class="lg:w-3/6"
        [ngClass]="data.position ? 'mr-auto' : 'ml-auto'"
      />
    </div>
  </div>
</div>
