<p class="text-center font-medium text-2xl">
  Reset Password
</p>
<form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm" class="mt-6">
  <div class="relative mt-3">
    <input #newPassword [type]="showPassword ? 'text' : 'password'" autocomplete="new-password"
           class="input pl-12 w-full {{hasError('password') ? 'input-error' : 'input-primary'}}"
           formControlName="password" minlength="8" placeholder="New password" required>
    <div class="absolute left-0 top-3 flex items-center">
      <img (click)="togglePwd()" *ngIf="showPassword" alt="show_password_img" class="ml-4 cursor-pointer"
           src="assets/show-password.png"/>
      <img (click)="togglePwd()" *ngIf="!showPassword" alt="password_img" class="ml-4 cursor-pointer"
           src="assets/password.png"/>
    </div>
    <span *ngIf="hasRequiredError('password')" class="label-text-alt text-red-400">
      <b>Password</b> wird benötigt
    </span>
    <span *ngIf="hasMinLengthError('password')" class="label-text-alt text-red-400">
      <b>Password</b> must be at least 8 characters
    </span>
  </div>
  <div class="relative mt-3">
    <input [pattern]="newPassword.value" [type]="showPassword ? 'text' : 'password'" autocomplete="new-password"
           class="input pl-12 w-full {{hasError('confirm') || notSamePwd() ? 'input-error' : 'input-primary'}}"
           formControlName="confirm" minlength="8" placeholder="Password Confirm" required>
    <div class="absolute left-0 top-3 flex items-center">
      <img (click)="togglePwd()" *ngIf="showPassword" alt="show_password_img" class="ml-4 cursor-pointer"
           src="assets/show-password.png"/>
      <img (click)="togglePwd()" *ngIf="!showPassword" alt="password_img" class="ml-4 cursor-pointer"
           src="assets/password.png"/>
    </div>
    <div class="flex flex-col">
      <span *ngIf="hasRequiredError('confirm')" class="label-text-alt text-red-400">
        <b>Password Confirm</b> wird benötigt
      </span>
      <span *ngIf="hasMinLengthError('confirm')" class="label-text-alt text-red-400">
        <b>Password Confirm</b> must be at least 8 characters
      </span>
      <span *ngIf="notSamePwd()" class="label-text-alt text-red-400">
        <b>Password Confirm</b> are not the same
      </span>
    </div>
  </div>
  <div class="flex items-center justify-center mt-8">
    <button class="btn bg-black" type="submit">
      Submit
    </button>
  </div>
</form>
