<div class="relative bg-gray-25 lg:pr-14 lg:pl-32 md:pr-10 md:pl-24 md:py-14">
  <div class="text-white absolute lg:translate-y-[70%] md:translate-y-[45%]">
    <h1 class="lg:text-5xl md:text-4xl lg:mb-5 md:mb-3 font-extrabold">
      Damit Ihr Autohandel ab jetzt wie <br />
      von selbst läuft.
    </h1>
    <p class="lg:text-lg text-base lg:w-2/5 lg:mb-5 md:mb-3 md:w-3/5">
      Unsere Autohandel-CRM Dealersoft ist eine cloudbasierte Softwarelösung,
      die Ihnen als Händler:in Unterstützung bei der Abwicklung von
      Geschäftsprozessen bietet.
    </p>

    <a
      class="focus:border-gray-10 font-semibold hover:cursor-pointer lg:text-base md:text-sm hover:text-blue-10 hover:bg-gray-25 hover:border-gray-10 transition-all ease-linear duration-200 flex justify-center items-center lg:w-48 lg:h-14 md:h-10 md:w-40 rounded-md border border-blue-10 bg-blue-10 text-white"
    >
      Jetzt 30 Tage testen
    </a>
  </div>

  <img
    src="assets/landing/group91.png"
    alt=""
    class="object-cover object-center"
  />
</div>
