<div class="pb-4 myfooter1 pl-20 pr-20  w-full">
          <div class="grid grid-flow-col auto-cols-max   w-full justify-between  gap-x-0 gap-y-0  text-footer-report "> 
        




        <div class="col-start-1  row-start-1 flex justify-self-start">HRB Walsrode: {{me?.hrb_walsrode}} </div>
        <div class="col-start-1  row-start-2 flex justify-self-start">GF: {{me?.geschaftsfuhrer}}</div>
        <div class="col-start-1  row-start-3 flex justify-self-start">TEL: {{me?.phone}}</div>

        <div class="col-start-2  row-start-1 ml-4 ">St.-Nr.: {{me?.steuer_nr}}</div>
        <div class="col-start-2  row-start-2 ml-4">USt-IdNr.: {{me?.ust_Idnr}}</div>
        <div class="col-start-2  row-start-3 ml-4">MAIL: {{me?.email}}</div>


        <div class="col-start-3  row-start-1 ml-4">{{me?.bank_name}}</div>
        <div class="col-start-3  row-start-2 ml-4">BIC: {{me?.bic_swift_code}}</div>
        <div class="col-start-3 row-start-3 ml-4">IBAN: {{me?.iban}}</div>

        <div class="col-start-4 row-start-3 ">
            <span class="mr-1">Seite</span>

            <span *ngIf="car_buy_data?.bemerkungencheck2page; else una_pagina">
                <span>1/2</span>
            </span> 

            <ng-template #una_pagina>
                <span>1/1</span>
            </ng-template> 
 
         

        </div>



    </div>



</div>