<div class="pb-4 myfooter px-20  w-full">
    <div class="grid grid-cols-3   justify-around  gap-x-2 gap-y-0  text-footer">


       

        <div class="col-start-1  row-start-2 flex justify-self-start">{{me?.hrb_walsrode}} </div>
        <div class="col-start-1  row-start-3 flex justify-self-start">Geschäftsführer: {{me?.geschaftsfuhrer}}</div>


        <div class="col-start-2  row-start-2 ml-8 ">Steuernummer: {{me?.steuer_nr}}</div>
        <div class="col-start-2  row-start-3 ml-8">USt-IdNr.: {{me?.ust_Idnr}}</div>


        <div class="col-start-3  row-start-1 ml-8">{{me?.bank_name}}</div>
        <div class="col-start-3  row-start-2 ml-8">BIC: {{me?.bic_swift_code}}</div>
        <div class="col-start-3 row-start-3 ml-8">IBAN: {{me?.iban}}</div>


    </div>

</div> 
