<div class="flex  justify-center">
<div class="card   mt-12 text-center  fondo px-28 py-8  w-full md:w-[80%] ">
  <div class="text-recovery-pass ">Passwort ändern</div>
    <div class="card-body  flex justify-center">
      
      

       <div class=" text-white ">Das Passwort können Sie aus Sicherheitsgründen nur mit der von Ihnen hinterlegten E-Mail Adresse ändern.
        Bei Problemen mit dem Login senden Sie eine E-Mail an: login@dealersoft.de.
        </div>

      <form (ngSubmit)="recoverAccount()" [formGroup]="recoveryAccountForm" class="mt-6 ">
        <div class="relative mt-3 ">
          <input class="input pl-12 w-full {{hasError('email') ? 'input-error' : 'input-primary'}}"
                 formControlName="email" placeholder="E-Mail Adresse" required type="email">

          <div class="absolute left-0 top-3 flex items-center">
            <img alt="user_img" class="ml-4" src="assets/email.png"/>
          </div>

          <span *ngIf="hasRequiredError('email')" class="label-text-alt text-red-400 pl-2">
            <b>Email</b> wird benötigt
          </span>

          <span *ngIf="hasEmailError('email')" class="label-text-alt text-red-400 pl-2">
            <b>Email</b> ist ungültig
          </span>

        </div>

        
        <div class="flex items-center justify-center mt-8">
          <button class="btn bg-black" type="submit">
            LINK FÜR NEUES PASSWORT SENDEN 
          </button>
        </div>
      </form> 
      
    </div>
  </div>
   
</div>
