<div class="relative bg-gray-25 lg:pr-14 lg:pl-32 lg:py-20">
  <div class="text-white absolute translate-y-full">
    <h1 class="text-5xl mb-5">
      Damit Ihr Autohandel ab jetzt wie <br />
      von selbst läuft.
    </h1>
    <p class="text-lg w-2/5 mb-5">
      Unsere Autohandel-CRM Dealersoft ist eine cloudbasierte Softwarelösung,
      die Ihnen als Händler:in Unterstützung bei der Abwicklung von
      Geschäftsprozessen bietet.
    </p>

    <a
      class="focus:border-gray-10 hover:text-gray-15 hover:bg-white hover:border-gray-10 transition-all ease-linear duration-200 flex justify-center items-center lg:w-48 lg:h-14 rounded-md border border-blue-10 bg-blue-10 text-white"
    >
      Jetzt 30 Tage testen
    </a>
  </div>

  <img
    src="assets/landing/group91.png"
    alt=""
    class="object-cover object-center"
  />
</div>
