<app-header-privado [car_buy_data]="this.datosReportes.car_buy_data" [me]="this.datosReportes.me" [imgPath]="this.datosReportes.imgPath"></app-header-privado>

<div class="pt-3  px-20">

    <!-- Contrato fecha -->
    <app-contrato2-fecha [car_buy_data]="this.datosReportes.car_buy_data" [me]="this.datosReportes.me"></app-contrato2-fecha>

    <p class="flex  mt-4 text-details">
        Unter Anerkennung allgemeiner Geschäftsbedingungen verkauft die {{this.datosReportes.me?.company_name}} folgendes Fahrzeug:
    </p>

    <div class="mt-3 ">
        <app-car-details [kaufvertrag]="true" [car_info]="this.datosReportes.car_info" [car_buy_data]="this.datosReportes.car_buy_data"></app-car-details>
    </div>


    <!-- Precio neto -->
    <div class="mt-8 ">
        <app-precio-iva [car_buy_data]="this.datosReportes.car_buy_data"></app-precio-iva>
    </div>


    <p class="flex  mt-4 text-details ">
        Das Fahrzeug wurde vom Käufer ausgiebig besichtigt und Probe gefahren.
    </p>

    <p class="flex  mt-1 text-details ">
        Gerichtsstand ist {{this.datosReportes.me?.city}}
    </p>


    <app-firma></app-firma>





</div>





<app-footer-empresa   [car_buy_data]="this.datosReportes.car_buy_data" [me]="this.datosReportes.me"></app-footer-empresa>

<app-second-page   [empresa]="false" [car_buy_data]="this.datosReportes.car_buy_data" [car_info]="this.datosReportes.car_info" [me]="this.datosReportes.me" [imgPath]="this.datosReportes.imgPath"></app-second-page>