
    <div class="flex border-2 border-black justify-between items-center p-4 mt-3 text-price ">
        <div>
          <p class="text-price-bold">Fahrzeugpreis:</p>
          <p>Es handelt sich um eine innergemeinschaftliche Lieferung </p>
          <p>gem. §4 Nr. 1b i.V.m. §6a Abs. 1</p>
          <p>(tax free intra-community delivery)</p>
        </div>
  
        <p class="text-price">Netto EU-Export:   </p>
        <p class="text-price mr-10">{{car_buy_data?.attributes?.net_sell || 0 | currency}}</p>
      </div>