<div class="flex  justify-between items-center p-4 mt-3 text-sm-nospace ">
    <div class="font-bold">
        Kaufpreis:

    </div>

    <div class="font-bold mr-10 border-b-2 border-black px-2">
        {{car_buy_data?.attributes?.net_sell || 0 | currency}}
    </div>
    <div class="">
        <p class="font-bold">NETTO - EU Export</p>
        <p class="">Es handelt sich um eine, innergemeinschaftliche </p>
        <p>Lieferung gem. §4 Nr. 1b i.V.m. §6a Abs. 1 </p>
        <p>(tax free intra-community delivery) </p>
        

    </div>
</div>