<div class="flex  justify-between items-start  mt-3 text-price ">
    <div class="text-price-bold">
        Kaufpreis:

    </div>

    <div class="text-price-bold ml-20 border-b border-black px-2">
        {{car_buy_data?.attributes?.net_sell || 0 | currency}}
    </div>
    <div class="">
        <p class="text-price-bold">NETTO - Export</p>
        
        <p class="border-t border-black pr-5">(steuerfreie Lieferung nach § 4 Zif. 1a UStG) </p>
    </div>
</div>

<!-- border-t border-red border-dashed -->