<div class="flex  justify-between items-center p-4 mt-3 text-sm-nospace ">
    <div class="font-bold">
        Kaufpreis:

    </div>

    <div class="font-bold mr-10 border-b-2 border-black px-2">
        {{car_buy_data?.attributes?.net_sell || 0 | currency}}
    </div>
    <div class="">
        <p class="font-bold">NETTO - Export</p>
        
        <p class="border-t-2 border-black pr-5">(steuerfreie Lieferung nach § 4 Zif. 1a UStG) </p>
    </div>
</div>

<!-- border-t border-red border-dashed -->