<div class="relative">
  <div class="text-center w-full absolute lg:bottom-16 md:bottom-14">
    <h1 class="lg:text-4xl md:text-3xl lg:mb-4">Unsere Software</h1>
    <h1 class="lg:text-5xl md:text-4xl font-bold">
      revolutioniert Ihren Autohandel.
    </h1>
  </div>
  <div class="flex w-full justify-center items-end lg:px-14 md:px-10">
    <img
      src="assets/landing/bgmain.png"
      alt=""
      class="object-cover object-center w-full"
    />
  </div>
  <div class="text-center lg:mb-20 md:mb-14">
    <p>
      Mit Dealersoft können Sie Prozesse erleichtern, Abläufe organisieren
      <br />
      und Ihr Geschäft ganz nach Ihren Wünschen gestalten.
    </p>
  </div>
</div>
