<div [ngClass]="{'shadow-lg': !car}" class="card bg-white m-0.5 sm:m-5 mb-8">
  <div class="card-body">
    <h1 *ngIf="!isUpdating" class="card-title text-2xl">Fahrzeugdaten</h1>
    <mat-divider *ngIf="!isUpdating"></mat-divider>
    <form (ngSubmit)="submit()" [formGroup]="vehicleForm">
      <div class="divider font-bold font-sans">Allgemeine Daten</div>
      <div class="w-full my-3 flex flex-col 2xl:flex-row">
        <div class="grid grid-cols-2 gap-x-8 gap-y-2 w-full 2xl:w-7/12">
          <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
            <mat-label>Fahrzeugname</mat-label>
            <input [required]="isRequired()" formControlName="name" matInput>
            <mat-error *ngIf="hasRequiredError('name')">
              <b>Fahrzeugname</b> ist erforderlich
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
            <mat-label>FIN</mat-label>
            <input [required]="isRequired()" formControlName="car_identifier" matInput>
            <mat-error *ngIf="hasRequiredError('car_identifier')">
              <b>FIN</b> ist erforderlich
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
            <mat-label>Aufbauvariante</mat-label>
            <input [required]="isRequired()" formControlName="build_variant" matInput>
            <mat-error *ngIf="hasRequiredError('build_variant')">
              <b>Aufbauvariante</b> ist erforderlich
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
            <mat-label>Erstzulassung</mat-label>
            <input [matDatepicker]="picker" [required]="isRequired()" formControlName="first_register_date" matInput
                   >
            <mat-error *ngIf="hasRequiredError('first_register_date')">
              <b>Erstzulassung</b> ist erforderlich
            </mat-error>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
            <mat-label>Kilometer</mat-label>
            <input formControlName="kilometres" matInput min="0" type="number">
            <mat-error *ngIf="hasRequiredError('kilometres')">
              <b>Kilometer</b> ist erforderlich
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
            <mat-label>Kilowatt</mat-label>
            <input formControlName="kilowatt" matInput min="0" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
            <mat-label>Farbe</mat-label>
            <input formControlName="color" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
            <mat-label>Anzahl der Vorbesitzer laut Brief</mat-label>
            <input formControlName="last_owner" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
            <mat-label>HSN</mat-label>
            <input formControlName="hsn" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-span-2 md:col-span-1">
            <mat-label>TSN</mat-label>
            <input formControlName="tsn" matInput>
          </mat-form-field>
        </div>
       
      </div>
      <div class="divider font-bold font-sans">Ausstattungen oder Bemerkungen</div>
      <div class="grid grid-cols-2 gap-x-8 gap-y-2 w-full 2xl:w-8/12 mb-4">
        <div class="col-span-2 xl:col-span-1 flex flex-col justify-start">
          <mat-form-field appearance="outline" class="xl:w-full">


            <!-- <ng-template *ngIf="comments.length<4; else nomorecomments"> -->
              <!-- <mat-label>Ausstattung #{{comments.length + 1}}</mat-label> -->
              
            <!-- </ng-template> -->

            <!-- <ng-template #nomorecomments> -->
              <!-- <mat-label>keine weiteren Ausstattungen möglich</mat-label> -->
              
            <!-- </ng-template> -->

            <mat-label>{{texto_label}}</mat-label>

            <input [(ngModel)]="currentComment" [ngModelOptions]="{standalone: true}" matInput [readonly]="input_read_only" [disabled]="boton_salvar_disabled">

            
            <button (click)="addComment()" class="tooltip tooltip-bottom" data-tip="Add comment" mat-icon-button
                    matSuffix type="button" [disabled]="boton_salvar_disabled">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>

          <span *ngIf="commentsError" class="label-text-alt text-red-500 pl-2 relative -top-4">
            Fügen Sie ein <b>Ausstattungsmerkmal hinzu</b>
          </span>
        </div>
        <div class="col-span-2 xl:col-span-1">
          <div class="grid grid-cols-1 gap-y-2" >
            <div *ngFor="let comment of comments; let i = index" class="p-1 flex justify-between items-center rounded-full bg-gray-300 col-span-1">
              <p class="p-0 pl-3 py-1">
                {{comment}}
              </p>
              <button (click)="removeComment(i)" class="btn btn-ghost rounded-full relative py-1" type="button" *ngIf="!boton_salvar_disabled" >
                <mat-icon  >close</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>
      <div class="flex w-full justify-center md:justify-end items-center mt-6">
        <button class="btn btn-primary w-40" type="submit" [disabled]="boton_salvar_disabled">
          <span class="tracking-wide">Speichern</span>
        </button>
      </div>
    </form>
  </div>
</div>
