<app-header-privado [car_buy_data]="car_buy_data" [me]="me" [imgPath]="imgPath"></app-header-privado>


<div class="pt-3 px-20 ">

    <!-- Contrato fecha -->
    <app-invoice-fecha [car_buy_data]="car_buy_data" [me]="me"></app-invoice-fecha>

    <p class=" text-center mt-4 text-details mx-2">
        Der Käufer kauft in Übereinstimmung mit den allgemeinen Geschäftsbedingungen das nachstehende, gebrauchte
        Fahrzeug, wie ausgiebig besichtigt und Probe gefahren. Er erkennt an, dass der Kaufgegenstand am Lieferungstag
        keine Mängel aufweist und in einem technisch und optisch einwandfreiem Zustand geliefert worden ist.
    </p>

    <p class=" text-center mt-4 text-sm-nospace text-details-bold mx-12">
        -Verschleiß unterliegt nicht der Gewährleistungspflicht-
    </p>

    <p class=" text-center mt-2 text-sm-nospace text-details mx-4">
        Gerichtsstand ist {{me?.city}}
    </p>


    <div class="mt-20 ">
        <app-car-details-min [car_info]="car_info" [car_buy_data]="car_buy_data"></app-car-details-min>
    </div>


    <!-- Precio neto -->
    <div class="mt-10 ">
        <app-precio-iva [car_buy_data]="car_buy_data"></app-precio-iva>
    </div>

    <div class="mt-10 ">
        <app-comentarios [car_buy_data]="car_buy_data"></app-comentarios>
    </div>


    <div class="mt-10 ">

        <table class="" style="text-align: left">

            <tr class="text-car-details">
                <th class="pr-4 text-car-bold ">Lieferdatum: </th>
                <td>{{car_buy_data?.attributes?.lieferung | date:'dd.MM.yyyy'}}</td>
            </tr>
        </table>

    </div>




</div>



<app-footer-empresa [car_buy_data]="car_buy_data" [me]="me"></app-footer-empresa>



<app-second-page [empresa]="false" [car_buy_data]="car_buy_data" [car_info]="car_info" [me]="me" [imgPath]="imgPath">
</app-second-page>