<app-header-privado [car_buy_data]="car_buy_data" [me]="me" [imgPath]="imgPath"></app-header-privado>


<div class="pt-3 px-20">

    <!-- Contrato fecha -->
    <app-invoice-fecha [car_buy_data]="car_buy_data" [me]="me"></app-invoice-fecha>



    <p class="flex text-center mt-4 text-details mx-2">
        Der Käufer kauft in Übereinstimmung mit den bereits vereinbarten Lieferbedingungen (AGB`s) das nachstehende,
        gebrauchte Fahrzeug, wie ausgiebig besichtigt, unter Auschluss jeglicher Gewährleistung im Hinblick auf
        sichtbare und unsichtbare Mängel. Desweiteren können Nachlackierungen nicht ausgeschlossen werden!
    </p>

    <p class="flex text-center mt-4 text-details-bold mx-2">
        Der Unterzeichnende bestätigt, dass sich hierbei um ein Geschäft unter Voll-Kaufleuten handelt und somit nicht unter das EU-Gewährleistungsgesetz fällt!
    </p>




    <div class="mt-20 ">
        <app-car-details-min [car_info]="car_info" [car_buy_data]="car_buy_data"></app-car-details-min>
    </div>


    <!-- Precio neto -->
    <div class="mt-16 ">
        <app-precio-netto-eu2 [car_buy_data]="car_buy_data"></app-precio-netto-eu2>
    </div>

    <div class="mt-16 ">
        <app-comentarios [car_buy_data]="car_buy_data"></app-comentarios>
        </div>
     


    <div class="mt-28">
        <span class="pr-4 text-details-bold">Lieferdatum: </span>
        <span class="text-details">{{car_buy_data?.attributes?.lieferung | date:'dd.MM.yyyy'}}</span>
    </div>









</div>


<app-footer-empresa [car_buy_data]="car_buy_data" [me]="me"></app-footer-empresa>



<app-second-page [empresa]="false" [car_buy_data]="car_buy_data" [car_info]="car_info" [me]="me" [imgPath]="imgPath">
</app-second-page>
