.fuentes-titulo {
    font-family: "HelveticaLTStd-Bold" !important;    
    font-size: 3rem;        
    color: #e5e5e5;
    line-height: normal;
  }
  

  .fuentes-texto {
    font-family: "Montserrat-Regular" !important;    
    font-size: 0.8rem;        
    color: #e5e5e5;
    line-height: 1.3rem;
  }
