/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  scroll-behavior: smooth;
}


@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: local("Montserrat-ExtraBold"),
    url("/assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  /*font-family: font-montserrat, "Helvetica Neue", sans-serif;*/
  font-family: "Montserrat-Regular";
}

.input {
  @apply focus:shadow-md focus:placeholder-gray-600 text-gray-600 text-gray-600 dark:placeholder-white dark:text-white;
}

.input-search {
  @apply rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent;
}

.btn {
  @apply hover:-translate-y-0.5;
}

.btn-primary {
  @apply bg-blue-700 border-0 hover:bg-blue-800;
}

.input-primary {
  @apply border-gray-100;
}

.input-error {
  @apply border-2;
}

//Custom Scrollbar [Start]

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 12px;
  border: 2px solid #d6dee1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

//Custom Scrollbar [End]

// Custom Table [Start]

.th-table {
  @apply px-5 py-3 bg-white border-b border-gray-200 text-gray-800 text-left text-sm uppercase font-normal;
}

// Custom Table [End]

// Custom Number Input [Start]

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// Custom Number Input [End]

// Custom backdrop Class [Start]

.modal-backdrop {
  background-color: rgba(28, 28, 28, 0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

// Custom backdrop Class [End]

// Stripe Payment Design [Start]

.payment-input {
  @apply input w-full placeholder:font-semibold font-semibold placeholder:text-gray-500 text-gray-500;
}

.bg-stripe {
  background: rgb(21, 101, 192);
  background: -moz-radial-gradient(
    circle,
    rgba(21, 101, 192, 1) 31%,
    rgba(25, 118, 210, 1) 53%,
    rgba(30, 136, 229, 1) 69%,
    rgba(33, 150, 243, 1) 86%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(21, 101, 192, 1) 31%,
    rgba(25, 118, 210, 1) 53%,
    rgba(30, 136, 229, 1) 69%,
    rgba(33, 150, 243, 1) 86%
  );
  background: radial-gradient(
    circle,
    rgba(21, 101, 192, 1) 31%,
    rgba(25, 118, 210, 1) 53%,
    rgba(30, 136, 229, 1) 69%,
    rgba(33, 150, 243, 1) 86%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1565c0", endColorstr="#2196f3", GradientType=1);
}

iframe {
  position: relative !important;
  top: 5px !important;
}

// Stripe Payment Design [End]

.main-color {
  background-color: #121a34 !important;
}


/*
@font-face {
  font-family: "HelveticaLTStd-Bold";
  src: local("HelveticaLTStd-Bold"),
    url("/assets/fonts/HelveticaLTStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), url("/assets/fonts/Helvetica.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: local("Helvetica-Bold"),
    url("/assets/fonts/Helvetica-Bold.ttf") format("truetype");
}*/

/* Degradado */
.fondo {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(255, 255, 255, 0.01) 9.91%
  );
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.16);
  border-radius: 32px;
}

.preserve-line-break {
  white-space: pre-wrap;
}

.header-client-data {
  font-size: 0.8rem;
  font-family: "Montserrat-Regular" !important;
  line-height: 0.95rem;
}

.header-user-data {
  font-size: 0.9rem;
  font-family: "Montserrat-Regular" !important;

  // line-height: 1.3rem;
}

.header-logo {
 width: 100%;
/*  height: auto;*/
  object-fit: contain;
  height:auto;

  
  max-width: 200px; 
  max-height: 150px
}

.text-contract-big {
  font-size: 1.1rem !important;
  font-family: "Montserrat-Regular" !important;
}

.text-contract {
  font-size: 0.875rem !important; /* 14px */
  line-height: 0.9rem !important;
  font-family: "Montserrat-Regular" !important;
}

.text-sm-nospace {
  font-size: 0.875rem !important; /* 14px */
  line-height: 0.9rem !important;
  font-family: "Montserrat-Regular" !important;
}

.text-footer {
  font-size: 0.65rem !important; /* 14px */
  line-height: 0.7rem !important;
  font-family: "Montserrat-Regular" !important;
}



.text-details {
  font-size: 0.8rem !important; /* 14px */
  line-height: 0.9rem !important;
  font-family: "Montserrat-Regular" !important;
}

.text-details-bold {
  font-size: 0.8rem !important; /* 14px */
  line-height: 0.9rem !important;
  font-family: "Montserrat-ExtraBold" !important;
}


.text-details-firma {
  font-size: 0.9rem !important; /* 14px */
  line-height: 1.9rem !important;
  font-family: "Montserrat-Regular" !important;
}


.text-car-details {
  font-size: 0.85rem !important; /* 14px */
  line-height: 1.2rem !important;
  font-family: "Montserrat-Regular" !important;
}

.text-car-details-bold {
  font-size: 0.85rem !important; /* 14px */
  line-height: 1.2rem !important;
  font-family: "Montserrat-ExtraBold" !important;
  // font-weight: 600;
}

.text-price {
  font-size: 0.8rem !important; /* 14px */
  line-height: 1.1rem !important;
  font-family: "Montserrat-Regular" !important;
}

.text-price-bold {
  font-size: 0.85rem !important; /* 14px */
  line-height: 1.1rem !important;
  font-family: "Montserrat-ExtraBold" !important;
}


// Salto de linea
.new-page {
  page-break-before: always;
}


.font-montserrat{
  font-family: "Montserrat-Regular"!important ;
}

.font-montserrat-bold {
  font-family: "Montserrat-ExtraBold"!important ;
}




@media print {

  // #second_page {
  //   position:relative
  // }

  //  html, body {
  //    width: 8.5in;
  //    height: 11in;
  //  }



  .myfooter1 {
    // position: fixed; //show footer on every page
    // position: absolute; //show footer only on the page in which is defined
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .myfooter2 {
    // position: fixed; //show footer on every page
    // position: absolute; //show footer only on the page in which is defined
    position: absolute;
    top: 2000px;
    left: 0px;
  }
}

@page {
   size: letter;
    margin: 0.1in;

   

  // @bottom-right {
  //   content: counter(page) ' of ' counter(pages);
  // }
//  #total_paginas:after {
//   content: 'Seite ' counter(page) ' / ' counter(pages);
//  }


}

// @page {
//   size: A4;
//   margin: 11mm 17mm 17mm 17mm;
// }


// footer {
//   position:fixed;
//   bottom:0;
//   left:0;
// }

//  body {
//    counter-reset: page_number;
//  }

// #total_paginas:after {
//   counter-increment: page_number;
//   content:  counter(page_number);
// }


