<table class="mt-1 mb-8 text-car-details-report" style="text-align: left">

    <tr class="text-car-details-report">
        <th class="pr-4 text-car-details-bold-report ">Fahrzeugtyp: </th>
        <td>{{car_info?.data?.attributes?.name}}</td>
    </tr>
    <tr class="text-car-details-report">
        <th class="pr-4 text-car-details-bold-report">FahrgesteII-Nr: </th>
        <td>{{car_info?.data?.attributes?.car_identifier}}</td>
    </tr>
    <tr class="text-car-details-report">
        <th class="pr-4 text-car-details-bold-report">Erstzulassung:</th>
        <td>{{car_info?.data?.attributes?.first_register_date | date:'dd.MM.yyyy'}}</td>
    </tr>



    <tr class="text-car-details-report">
        <th class="pr-4 text-car-details-bold-report"> abgelesener KM-Stand: </th>
        <td>{{car_info?.data?.attributes?.kilometres}} km </td>
    </tr>




</table>