<div class="">
  <app-navbar (mensaje)="receiveMessage($event)"></app-navbar>
  <app-banner-main></app-banner-main>
  <app-second-banner></app-second-banner>
  <app-banner-black></app-banner-black>
  <div id="funktionen">
    <app-section-funktionen></app-section-funktionen>
  </div>
  <div id="uber">
    <app-uber-section></app-uber-section>
  </div>
  <div
    class="bg-[#202124] lg:py-20 relative grid justify-items-center md:py-14"
  >
    <div class="absolute w-full lg:top-52 md:top-32">
      <h1
        class="text-white lg:text-5xl md:text-4xl text-center lg:mb-6 md:mb-4"
      >
        Dealersoft <br />
        jederzeit und von überall
      </h1>
      <app-landing-register-login [selectedTab]="selectedTab"></app-landing-register-login>
    </div>
    <div
      class="flex items-center space-x-3 absolute lg:bottom-24 md:bottom-20 z-10"
    >
      <span class="text-white">Zurück nach oben</span>
      <img src="assets/landing/Vector.png" alt="" class="w-5" />
    </div>
    <img src="assets/landing/bglogin.png" alt="" class="lg:w-[70%] mx-auto" />
  </div>
  <div class="lg:w-[70%] mx-auto px-6">
    <app-landing-footer></app-landing-footer>
  </div>
</div>
