<header class="w-full grid grid-cols-2 pt-4 px-20 mt-4 ">

    <div class="col-span-2 row-start-1  underline header-user-data pt-4 ">
        
            {{me?.company_name}} - {{me?.street}} {{me?.house_number}} - {{me?.postal_code}} {{me?.city}}
        
    </div>


    <div class="col-start-1 row-start-2  flex justify-between items-center header-client-data pt-1 ">
        <div>

            <p>{{car_buy_data?.client?.title}}</p>
            <p>{{car_buy_data?.client?.first_name}}
                {{car_buy_data?.client?.last_name}}</p>
            <p><span>{{car_buy_data?.client?.street}}</span>
                <span class="pl-1">{{car_buy_data?.client?.house_number}}</span>
            </p>
            <p>{{car_buy_data?.client?.postal_code}}
                {{car_buy_data?.client?.city}}</p>
            <p>{{car_buy_data?.client?.country}}</p>


            
            <p class="pt-2" *ngIf="car_buy_data?.client?.tax_number">
               <span>
                Steuernummer: 
               </span> 
               <span>
                  {{car_buy_data?.client?.tax_number}}
               </span>

            </p>
            
            
        </div>

        
    </div>

    
    
    <div class="col-start-2 row-start-2   flex justify-end items-start" id="logo">
        <img [src]="imgPath | saveDom" alt="{{me?.username}} logo" class="header-logo ">
    </div>

</header>